force-app/main/default/flows/IL_MNT_MAJ_Statut_Chronopost.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>AssignCommand</name>
        <label>AssignCommand</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>commande</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCommande</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>commande.Statut_Commande__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>À Réceptionner</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCommand</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEnvoi</name>
        <label>AssignEnvoi</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>envois</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getEnvoi</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>envoisLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEnvoi1</name>
        <label>AssignEnvoi1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>envoi</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>envoisLoop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NbEnvoiClotureOK</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Envoi_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEnvoi2</name>
        <label>AssignEnvoi2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>envoisToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>envoi</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>envoisLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEnvois</name>
        <label>AssignEnvois</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>envois</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>envoisLoop1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>envoisLoop1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEnvoiStatut1</name>
        <label>AssignEnvoiStatut1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>envoi.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>À Réceptionner</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignEnvoi2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEnvoiStatut2</name>
        <label>AssignEnvoiStatut2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>envoi.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Clôturer OK</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignEnvoi2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNbEnvoiClotureNOK</name>
        <label>AssignNbEnvoiClotureNOK</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NbEnvoiClotureNOK</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>envoisLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNbPULivr_e</name>
        <label>AssignNbPULivrée</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NbPULivree</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RowsLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNbPUNonLivr_e</name>
        <label>AssignNbPUNonLivrée</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NbPUNonLivree</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RowsLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InitNbPU</name>
        <label>InitNbPU</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NbPULivree</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NbPUNonLivree</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getEnvoiRows</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isAllEnvoiOK</name>
        <label>isAllEnvoiOK</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>NotAllEnvoiOK</defaultConnectorLabel>
        <rules>
            <name>AllEnvoiOK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NbEnvoiClotureNOK</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Envoi_Logistique__r.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Autre Stock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCommand</targetReference>
            </connector>
            <label>AllEnvoiOK</label>
        </rules>
    </decisions>
    <decisions>
        <name>isAllPi_ceDelivered</name>
        <label>isAllPièceDelivered</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>AssignNbEnvoiClotureNOK</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not</defaultConnectorLabel>
        <rules>
            <name>AllPi_ceDelivered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NbPUNonLivree</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignEnvoi1</targetReference>
            </connector>
            <label>AllPieceDelivered</label>
        </rules>
    </decisions>
    <decisions>
        <name>isAssociatedToCommand</name>
        <label>isAssociatedToCommand</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>getEnvoi</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isNotAssociatedToCommand</defaultConnectorLabel>
        <rules>
            <name>isAssociatedToCommand2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Envoi_Logistique__r.Commande_Pi_ces__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCommande</targetReference>
            </connector>
            <label>isAssociatedToCommand</label>
        </rules>
    </decisions>
    <decisions>
        <name>isEnvoiToUpdate</name>
        <label>isEnvoiToUpdate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isAllEnvoiOK</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EnvoiToUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>envoisToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateEnvois</targetReference>
            </connector>
            <label>EnvoiToUpdate</label>
        </rules>
    </decisions>
    <decisions>
        <name>isLivr</name>
        <label>isLivré</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>AssignNbPUNonLivr_e</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Livré</defaultConnectorLabel>
        <rules>
            <name>Livr</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RowsLoop.Statut_Chronopost__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Livré</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RowsLoop.Statut_Chronopost__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Perdu</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNbPULivr_e</targetReference>
            </connector>
            <label>Livré ou Perdu ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Envoi_Type</name>
        <label>Which Envoi Type ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>AssignEnvoiStatut2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Réparation</defaultConnectorLabel>
        <rules>
            <name>Autre_Stock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Envoi_Logistique__r.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Autre Stock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignEnvoiStatut1</targetReference>
            </connector>
            <label>Autre Stock</label>
        </rules>
    </decisions>
    <description>Mise à jour des Statut de l&apos;envoi et de la commande en fonction du statut Chronopost</description>
    <environments>Default</environments>
    <interviewLabel>IL - [MNT] MAJ Statut Chronopost {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IL - [MNT] MAJ Statut Chronopost</label>
    <loops>
        <name>envoisLoop</name>
        <label>envoisLoop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>envois</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>InitNbPU</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>isEnvoiToUpdate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>envoisLoop1</name>
        <label>envoisLoop1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>getEnvois</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignEnvois</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>envoisLoop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>RowsLoop</name>
        <label>RowsLoop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>getEnvoiRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>isLivr</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>isAllPi_ceDelivered</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getCommande</name>
        <label>getCommande</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getEnvois</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Envoi_Logistique__r.Commande_Pi_ces__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Commande_Pi_ces__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEnvoi</name>
        <label>getEnvoi</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignEnvoi</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Envoi_Logistique__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Envoi_Logistique__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Statut__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEnvoiRows</name>
        <label>getEnvoiRows</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RowsLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Envoi_Logistique__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>envoisLoop.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ENV</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Historique_Pi_ces__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Statut_Chronopost__c</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEnvois</name>
        <label>getEnvois</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>envoisLoop1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Commande_Pi_ces__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCommande.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Envoi_Logistique__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Statut__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCommand</name>
        <label>UpdateCommand</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>commande</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateEnvois</name>
        <label>UpdateEnvois</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isAllEnvoiOK</targetReference>
        </connector>
        <inputReference>envoisToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isAssociatedToCommand</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ENV</stringValue>
            </value>
        </filters>
        <filters>
            <field>Statut_Chronopost__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Statut_Chronopost__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Livré</stringValue>
            </value>
        </filters>
        <filters>
            <field>Statut_Chronopost__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Perdu</stringValue>
            </value>
        </filters>
        <object>Historique_Pi_ces__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>commande</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Commande_Pi_ces__c</objectType>
    </variables>
    <variables>
        <name>envoi</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Envoi_Logistique__c</objectType>
    </variables>
    <variables>
        <name>envoiRow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Historique_Pi_ces__c</objectType>
    </variables>
    <variables>
        <name>envoiRows</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Historique_Pi_ces__c</objectType>
    </variables>
    <variables>
        <name>envois</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Envoi_Logistique__c</objectType>
    </variables>
    <variables>
        <name>envoisToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Envoi_Logistique__c</objectType>
    </variables>
    <variables>
        <name>NbEnvoiClotureNOK</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NbEnvoiClotureOK</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NbPULivree</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NbPUNonLivree</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
