force-app/main/default/flows/IL_MNT_Historique_PU_Changement_Lieu_Manuellement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <description>Ce déclenche lorsque le lieu est modifié manuellement</description>
    <environments>Default</environments>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$System.OriginDateTime})</expression>
    </formulas>
    <interviewLabel>IL - [MNT] Historique PU : Changement Lieu Manuellement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IL - [MNT] Historique PU : Changement Lieu Manuellement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_PU_History</name>
        <label>Create PU History</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>INVENTAI__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lieu__c</field>
            <value>
                <elementReference>$Record.Lieu__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pi_ce_Unitaire__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remarques__c</field>
            <value>
                <elementReference>remarquePU</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>En Stock</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRAME__c</field>
            <value>
                <elementReference>TrameINVENTAI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>PU</stringValue>
            </value>
        </inputAssignments>
        <object>Historique_Pi_ces__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>UpdateTriggeredRecord</name>
        <label>UpdateTriggeredRecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_PU_History</targetReference>
        </connector>
        <inputAssignments>
            <field>Lieu_Pr_c_dent__c</field>
            <value>
                <elementReference>$Record__Prior.Lieu__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UpdateTriggeredRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lieu__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SkipFlow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Pi_ce_Unitaire__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>remarquePU</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Pièce déplacée par [{!$User.FirstName} {!$User.LastName}] de [{!$Record__Prior.Lieu__r.Name}] vers [{!$Record.Lieu__r.Name}]</text>
    </textTemplates>
    <textTemplates>
        <name>TrameINVENTAI</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;DU {!$Record__Prior.Lieu__r.Name} VERS {!$Record.Lieu__r.Name} LE {!today}&lt;/p&gt;</text>
    </textTemplates>
</Flow>
