force-app/main/default/flows/IL_MNT_Retour_de_R_paration_de_Pi_ce.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>AddAndResetRessources</name>
        <label>AddAndResetRessources</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HistoriquePiece</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyHistorique</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceAMAJ</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyPiece</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceACreer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyPiece</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Pieces</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddRecordId</name>
        <label>AddRecordId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Pieces</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignECHHistoriqueNew</name>
        <label>AssignECHHistoriqueNew</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Remarques__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemarqueECHNew</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.TRAME__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En Stock</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Pi_ce_Unitaire__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PieceACreer.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Panne__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquesPiece</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>HistoriquePiece</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddAndResetRessources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignECHHistoriqueOld</name>
        <label>AssignECHHistoriqueOld</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Remarques__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemarqueECHOld</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.TRAME__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrameECH</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Remplacé ES</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquesPiece</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>HistoriquePiece</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignPieceECH</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignHistorique</name>
        <label>AssignHistorique</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Pi_ce_Unitaire__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Pieces.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Lieu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Pieces.Lieu_Pr_c_dent__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Correctif__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Pieces.Correctif__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Panne__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Pieces.Panne__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignPiece</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNTFHistorique</name>
        <label>AssignNTFHistorique</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Remarques__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemarqueNTF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.TRAME__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrameNTF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En Stock</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquesPiece</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>HistoriquePiece</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignPieceNTF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPiece</name>
        <label>AssignPiece</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PieceAMAJ.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Pieces.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceAMAJ.Correctif__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceAMAJ.Panne__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceAMAJ.RMA__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceAMAJ.Date_Retour_de_R_paration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Retour_NTF</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceAMAJ.N_Bon_Livraison__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Which_Repare_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPieceACreer</name>
        <label>AssignPieceACreer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PieceACreer.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En Stock</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceACreer.Lieu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Pieces.Lieu__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceACreer.Code_Article__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CodeArticleSearch.selectedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceACreer.N_Serie__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>N_S_rie_de_la_Pi_ce</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceACreer.Sous_Lieux__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sous_Lieu_NPU</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceACreer.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewPUName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateNewPiece</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPieceECH</name>
        <label>AssignPieceECH</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PieceAMAJ.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Remplacé ES</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PiecesAMAJ</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PieceAMAJ</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignPieceACreer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPieceNTF</name>
        <label>AssignPieceNTF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PieceAMAJ.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En Stock</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceAMAJ.Lieu_Pr_c_dent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Pieces.Lieu__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceAMAJ.Lieu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Pieces.Lieu_Pr_c_dent__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceAMAJ.Pi_ce_HS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PiecesAMAJ</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PieceAMAJ</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddAndResetRessources</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NTF</name>
        <choiceText>NTF</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NTF</stringValue>
        </value>
    </choices>
    <choices>
        <name>R_paree</name>
        <choiceText>Réparé</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Réparé</stringValue>
        </value>
    </choices>
    <decisions>
        <name>isRecordId</name>
        <label>isRecordId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Pieces</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No RecordID</defaultConnectorLabel>
        <rules>
            <name>X1_RecordId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>AddRecordId</targetReference>
            </connector>
            <label>1 RecordId</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation</name>
        <label>Validation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_On_Pieces</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Annuler</defaultConnectorLabel>
        <rules>
            <name>Valider</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buttons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Valider</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignHistorique</targetReference>
            </connector>
            <label>Valider</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Repare_Type</name>
        <label>Which Repare Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>AddAndResetRessources</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rebut</defaultConnectorLabel>
        <rules>
            <name>R_par</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RepareType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NTF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNTFHistorique</targetReference>
            </connector>
            <label>Réparé / NTF</label>
        </rules>
        <rules>
            <name>Echange_Standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RepareType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ECH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignECHHistoriqueOld</targetReference>
            </connector>
            <label>Echange Standard</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Title</name>
        <dataType>String</dataType>
        <expression>CASE({!RepareType}, &apos;NTF&apos;, &quot;Retour d&apos;une pièce réparée ou NTF&quot;, &apos;ECH&apos;, &apos;Echange standard&apos;, &apos;Rebut&apos;)</expression>
    </formulas>
    <formulas>
        <name>Trigramme</name>
        <dataType>String</dataType>
        <expression>CASE({!Loop_On_Pieces.Lieu_Pr_c_dent__r.Name},
&quot;STR01&quot;, &quot;CIR01AGJ&quot;,
&quot;STR13&quot;, &quot;CIR01AGL&quot;,
&quot;STR14&quot;, &quot;CIR01AGQ&quot;,
&quot;STR31&quot;, &quot;CIR01AGN&quot;,
&quot;STR33&quot;, &quot;CIR01AGO&quot;,
&quot;STR34&quot;, &quot;CIR01AGM&quot;,
&quot;STR42&quot;, &quot;CIR01AGK&quot;,
&quot;STR44&quot;, &quot;CIR01AGP&quot;,
&quot;STR54&quot;, &quot;CIR01AGS&quot;,
&quot;STR59&quot;, &quot;CIR01AGR&quot;,
&quot;STR93&quot;, &quot;CIR01AGH&quot;,
&quot;STR20&quot;, &quot;CIR01AGD&quot;,
&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>WhichNTF</name>
        <dataType>String</dataType>
        <expression>IF({!Buttons.value} = &apos;NTF&apos;, &apos;NTF&apos;, &apos;REPARE&apos;)</expression>
    </formulas>
    <interviewLabel>IL - [MNT] Retour de Réparation de Pièce {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IL - [MNT] Retour de Réparation de Pièce</label>
    <loops>
        <name>Loop_On_Pieces</name>
        <label>Loop On Pieces</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Pieces</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdatePieces</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateHistory</name>
        <label>CreateHistory</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>HistoriquePiece</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateNewPiece</name>
        <label>CreateNewPiece</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AssignECHHistoriqueNew</targetReference>
        </connector>
        <inputReference>PieceACreer</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Pieces</name>
        <label>Get Pieces</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_Pieces</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pi_ce_Unitaire__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePieces</name>
        <label>UpdatePieces</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CreateHistory</targetReference>
        </connector>
        <inputReference>PiecesAMAJ</inputReference>
    </recordUpdates>
    <screens>
        <name>UI</name>
        <label>UI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Validation</targetReference>
        </connector>
        <fields>
            <name>Header_NTF</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 38, 150); font-size: 16px;&quot;&gt;{!Title}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OldPieceTitle</name>
            <fieldText>&lt;h4&gt;&lt;strong&gt;Pièce Retournée&lt;/strong&gt;&lt;/h4&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UI_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>UI_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>N_Ticket</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_On_Pieces.Correctif__r.ID_ticket_client__c</elementReference>
                    </defaultValue>
                    <fieldText>N° Ticket</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Pi_ce_Retourn_e</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_On_Pieces.Name</elementReference>
                    </defaultValue>
                    <fieldText>Pièce Retournée</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>UI_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Site</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_On_Pieces.Correctif__r.Site__r.Name</elementReference>
                    </defaultValue>
                    <fieldText>Site</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Cl_Equipement</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_On_Pieces.Cl_quipement__c</elementReference>
                    </defaultValue>
                    <fieldText>Clé Equipement</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Type_de_r_paration</name>
                    <choiceReferences>R_paree</choiceReferences>
                    <choiceReferences>NTF</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>R_paree</defaultSelectedChoiceReference>
                    <fieldText>Type de Réparation</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>RepareType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>NTF</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>UI_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RMA</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_On_Pieces.RMA__c</elementReference>
                    </defaultValue>
                    <fieldText>RMA</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Sous_Lieu_PU</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_On_Pieces.Sous_Lieux__c</elementReference>
                    </defaultValue>
                    <fieldText>Sous Lieu</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Date_Retour_NTF</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDateTime</elementReference>
                    </defaultValue>
                    <fieldText>Date de Retour de Réception</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>NewPieceTitle</name>
            <fieldText>&lt;h4&gt;&lt;strong&gt;Nouvelle Pièce&lt;/strong&gt;&lt;/h4&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RepareType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>ECH</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>UI_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>UI_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CodeArticleSearch</name>
                    <extensionName>c:pillSearch</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>utility:cart</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>sObjectType</name>
                        <value>
                            <stringValue>Articles__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>searchFields</name>
                        <value>
                            <stringValue>Name, Mnemonique__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Code Article de l&apos;équipement</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Rechercher un Code Article...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>sublabelField</name>
                        <value>
                            <stringValue>Mnemonique__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecordId</name>
                        <value>
                            <elementReference>Loop_On_Pieces.Code_Article__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>UI_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>N_S_rie_de_la_Pi_ce</name>
                    <dataType>String</dataType>
                    <fieldText>N° Série de la Pièce</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>UI_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Lieu</name>
                    <extensionName>c:pillSearch</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>utility:checkin</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>sObjectType</name>
                        <value>
                            <stringValue>sitetracker__Site__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Lieu</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Rechercher un Lieu</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecordId</name>
                        <value>
                            <elementReference>Loop_On_Pieces.Lieu_Pr_c_dent__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Sous_Lieu_NPU</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Sous_Lieu_PU</elementReference>
                    </defaultValue>
                    <fieldText>Sous Lieu</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RepareType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>ECH</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>UI_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>UI_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>UI_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>UI_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Buttons</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Annuler&quot;,&quot;value&quot;:&quot;Annuler&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Valider&quot;,&quot;value&quot;:&quot;Valider&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isRecordId</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>NewPUName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!CodeArticleSearch.selectedRecordName}-{!N_S_rie_de_la_Pi_ce}</text>
    </textTemplates>
    <textTemplates>
        <name>RemarqueECHNew</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Retour Réparation ECHSTD RMA =[{!Loop_On_Pieces.RMA__c}] NS=[{!Loop_On_Pieces.N_Serie__c}]</text>
    </textTemplates>
    <textTemplates>
        <name>RemarqueECHOld</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Retour Réparation ECHSTD RMA =[{!Loop_On_Pieces.RMA__c}] NS=[{!N_S_rie_de_la_Pi_ce}]</text>
    </textTemplates>
    <textTemplates>
        <name>RemarqueNTF</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Remis en Stock après retour de Réparation [{!Loop_On_Pieces.RMA__c}]</text>
    </textTemplates>
    <textTemplates>
        <name>TrameECH</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[{!Trigramme}][E/S_:_{!N_S_rie_de_la_Pi_ce}][RMA={!Loop_On_Pieces.RMA__c}]</text>
    </textTemplates>
    <textTemplates>
        <name>TrameNTF</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[{!Trigramme}][{!WhichNTF}][RMA={!Loop_On_Pieces.RMA__c}][CONTRATPROMAFIXE/MOBILE]</text>
    </textTemplates>
    <variables>
        <name>EmptyHistorique</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Historique_Pi_ces__c</objectType>
    </variables>
    <variables>
        <name>EmptyPiece</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pi_ce_Unitaire__c</objectType>
    </variables>
    <variables>
        <name>HistoriquePiece</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Historique_Pi_ces__c</objectType>
    </variables>
    <variables>
        <name>HistoriquesPiece</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Historique_Pi_ces__c</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PieceACreer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pi_ce_Unitaire__c</objectType>
    </variables>
    <variables>
        <name>PieceAMAJ</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pi_ce_Unitaire__c</objectType>
    </variables>
    <variables>
        <name>PiecesACreer</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pi_ce_Unitaire__c</objectType>
    </variables>
    <variables>
        <name>PiecesAMAJ</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pi_ce_Unitaire__c</objectType>
    </variables>
    <variables>
        <name>PU</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pi_ce_Unitaire__c</objectType>
    </variables>
    <variables>
        <name>PU_History</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Historique_Pi_ces__c</objectType>
    </variables>
    <variables>
        <name>PUs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pi_ce_Unitaire__c</objectType>
    </variables>
    <variables>
        <name>PUs_History</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Historique_Pi_ces__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RepareType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
