force-app/main/default/flows/IL_MNT_Cr_ation_des_DAT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_BAT_File</name>
        <label>Generate BAT File</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FileGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_PU</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>content</name>
            <value>
                <elementReference>FileINVENTAI</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fileTitle</name>
            <value>
                <stringValue>INVENTAI.dat</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subFolderName</name>
            <value>
                <stringValue>&apos;INVENTAI.dat&apos;</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FileGenerator</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Generate_BAT_File_2</name>
        <label>Generate BAT File 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FileGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_PU_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>content</name>
            <value>
                <elementReference>FileBT_RPMAT</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fileTitle</name>
            <value>
                <stringValue>BT_RPMAT.bat</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subFolderName</name>
            <value>
                <stringValue>&apos;BT_RPMAT.bat&apos;</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FileGenerator</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Generate_BAT_File_3</name>
        <label>Generate BAT File 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FileGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_PU_3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>content</name>
            <value>
                <elementReference>FileBT_RETREP</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fileTitle</name>
            <value>
                <stringValue>BT_RETREP.bat</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subFolderName</name>
            <value>
                <stringValue>&apos;BT_RETREP.bat&apos;</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FileGenerator</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>AddRowToFileBT_RETREP</name>
        <label>AddRowToFileBT_RETREP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FileBT_RETREP</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RowBT_RETREP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordHistoriquesPieces</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopBT_RETREP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordHistoriquesPieces.Date_Export__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionHistoriquesPieces</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecordHistoriquesPieces</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopBT_RETREP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddRowToFileBT_RPMAT</name>
        <label>AddRowToFileBT_RPMAT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FileBT_RPMAT</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RowBT_RPMAT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordHistoriquesPieces</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopBT_RPMAT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordHistoriquesPieces.Date_Export__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionHistoriquesPieces</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecordHistoriquesPieces</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopBT_RPMAT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddRowToFileINVENTAI</name>
        <label>AddRowToFileINVENTAI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RecordHistoriquesPieces</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopINVENTAI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordHistoriquesPieces.Date_Export__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionHistoriquesPieces</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecordHistoriquesPieces</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FileINVENTAI</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RowINVENTAI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopINVENTAI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFirstLine</name>
        <label>AssignFirstLine</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FileINVENTAI</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>HeaderFileINVENTAI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetINVENTAI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFirstLine2</name>
        <label>AssignFirstLine2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FileBT_RPMAT</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>HeaderFileBT_RPMAT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetBT_RPMAT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFirstLine3</name>
        <label>AssignFirstLine3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FileBT_RETREP</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>HeaderFileBT_RETREP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetBT_RETREP</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BT_RETREP_BUTTON</name>
        <choiceText>BT_RETREP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BT_RETREP</stringValue>
        </value>
    </choices>
    <choices>
        <name>BT_RPMAT_BUTTON</name>
        <choiceText>BT_RPMAT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BT_RPMAT</stringValue>
        </value>
    </choices>
    <choices>
        <name>INVENTAI_BUTTON</name>
        <choiceText>INVENTAI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>INVENTAI</stringValue>
        </value>
    </choices>
    <decisions>
        <name>WhichExport</name>
        <label>WhichExport?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>ErrorFile</defaultConnectorLabel>
        <rules>
            <name>INVENTAI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InventaiButton</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INVENTAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignFirstLine</targetReference>
            </connector>
            <label>INVENTAI</label>
        </rules>
        <rules>
            <name>BT_RPMAT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InventaiButton</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BT_RPMAT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignFirstLine2</targetReference>
            </connector>
            <label>BT_RPMAT</label>
        </rules>
        <rules>
            <name>BT_RETREP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InventaiButton</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BT_RETREP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignFirstLine3</targetReference>
            </connector>
            <label>BT_RETREP</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>IL - [MNT] Création des ex {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IL - [MNT] Création des .DAT</label>
    <loops>
        <name>LoopBT_RETREP</name>
        <label>LoopBT_RETREP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetBT_RETREP</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddRowToFileBT_RETREP</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Generate_BAT_File_3</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopBT_RPMAT</name>
        <label>LoopBT_RPMAT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetBT_RPMAT</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddRowToFileBT_RPMAT</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Generate_BAT_File_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopINVENTAI</name>
        <label>LoopINVENTAI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetINVENTAI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddRowToFileINVENTAI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Generate_BAT_File</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetBT_RETREP</name>
        <label>GetBT_RETREP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopBT_RETREP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BT_RETREP__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Date_Export__c</field>
            <operator>EqualTo</operator>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Historique_Pi_ces__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetBT_RPMAT</name>
        <label>GetBT_RPMAT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopBT_RPMAT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BT_RPMAT__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Date_Export__c</field>
            <operator>EqualTo</operator>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Historique_Pi_ces__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetINVENTAI</name>
        <label>GetINVENTAI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopINVENTAI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>INVENTAI__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Date_Export__c</field>
            <operator>EqualTo</operator>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Historique_Pi_ces__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PU</name>
        <label>Update PU</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>T_l_chargement</targetReference>
        </connector>
        <inputReference>CollectionHistoriquesPieces</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PU_2</name>
        <label>Update PU 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>T_l_chargement_2</targetReference>
        </connector>
        <inputReference>CollectionHistoriquesPieces</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PU_3</name>
        <label>Update PU 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>T_l_chargement_3</targetReference>
        </connector>
        <inputReference>CollectionHistoriquesPieces</inputReference>
    </recordUpdates>
    <screens>
        <name>T_l_chargement</name>
        <label>Téléchargement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>snippet</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;{!Generate_BAT_File.downloadUrl}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Télécharger INVENTAI.dat&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Terminer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>T_l_chargement_2</name>
        <label>Téléchargement 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>snippet_2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;{!Generate_BAT_File.downloadUrl}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Télécharger BT_RPMAT.dat&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Terminer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>T_l_chargement_3</name>
        <label>Téléchargement 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>snippet_3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;{!Generate_BAT_File.downloadUrl}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Télécharger BT_RETREP.dat&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Terminer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WhichFileToDownload</name>
        <label>WhichFileToDownload</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>WhichExport</targetReference>
        </connector>
        <fields>
            <name>InventaiButton</name>
            <choiceReferences>INVENTAI_BUTTON</choiceReferences>
            <choiceReferences>BT_RETREP_BUTTON</choiceReferences>
            <choiceReferences>BT_RPMAT_BUTTON</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Quel fichier souhaitez-vous télécharger ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>WhichFileToDownload</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>RowBT_RETREP</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!LoopBT_RETREP.Pi_ce_Unitaire__r.N_Serie__c};;;;;{!LoopBT_RETREP.Pi_ce_Unitaire__r.RMA__c};;;;;;SFR&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RowBT_RPMAT</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt; ;;;; ;{!RecordHistoriquesPieces.RMA__c};;;;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!LoopBT_RPMAT.Pi_ce_Unitaire__r.Code_Article__c}&lt;/span&gt;;{!LoopBT_RPMAT.Pi_ce_Unitaire__r.N_Serie__c};;;&quot;ACCES_FIX_MOB/MCO/CIRCET&quot;;;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RowINVENTAI</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!LoopINVENTAI.CreatedBy.Name};{!LoopINVENTAI.Lieu__r.Name};{!LoopINVENTAI.Sous_lieu__c};{!LoopINVENTAI.Pi_ce_Unitaire__r.Code_Article__r.Name};{!LoopINVENTAI.Pi_ce_Unitaire__r.N_Serie__c};{!LoopINVENTAI.Pi_ce_Unitaire__r.Name};SFR;{!LoopINVENTAI.Commande_Pi_ces__r.Name}; ;;{!LoopINVENTAI.TRAME__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CollectionHistoriquesPieces</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Historique_Pi_ces__c</objectType>
    </variables>
    <variables>
        <name>FileBT_RETREP</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FileBT_RPMAT</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FileINVENTAI</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HeaderFileBT_RETREP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>No_de_serie;Date_de_retour;Type_de_retour;Article_SWAP;No_serie_SWAP;NoSticker;Magasin_destination;Casier_destination;Commentaire;Magasin_SWAP;Casier_SWAP;SOCIETE \n</stringValue>
        </value>
    </variables>
    <variables>
        <name>HeaderFileBT_RPMAT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>DateFinIntervention;DateEnvoi;NumeroBTParent;TicketIncident;NoIntervention;NoSticker;Reparateur;NoSite;NomSite;ArticleEqtHS;NSEqtHS;MagasinDestination;DescriptionPanne;ContratService;ArticleEqtRemplacant;NSEqtRemplacant \n</stringValue>
        </value>
    </variables>
    <variables>
        <name>HeaderFileINVENTAI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>TrigrammeLogisticien;Magasin;Casier;CodeArticle;NoSerie;CleEquipement;SOCIETE;N_COMMANDE;N_BON_LIVRAISON;N_PROJET_VEGA;CommandeOuCommentaire</stringValue>
        </value>
    </variables>
    <variables>
        <name>RecordHistoriquesPieces</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Historique_Pi_ces__c</objectType>
    </variables>
</Flow>
