force-app/main/default/flows/IL_MNT_Envoi_de_l_email_au_R_parateur.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <faultConnector>
            <targetReference>Error_Sending_Email</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value/>
        </inputParameters>
        <inputParameters>
            <name>ccAddresses</name>
            <value/>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>automate.salesforce@circet.fr</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Bonjour,&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Nous confirmons l&apos;envoi en réparation des pièces HS suivantes via {!$Record.Transporteur__c} :&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!PiecesTable}&lt;/p&gt;&lt;p&gt;Bonne réception.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$User.FirstName} {!$User.LastName}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>AddPiecesTable</name>
        <label>AddPiecesTable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PiecesTable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TableRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RowsLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRecipientLists</name>
        <label>AssignRecipientLists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RecipientAddressList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Destinataire__r.Recipient_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CCRecipientAddressList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Destinataire__r.CC_Recipient_Address__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CloseTable</name>
        <label>CloseTable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PiecesTable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignRecipientLists</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Error_No_Envoi_Rows</name>
        <label>Error No Envoi Rows</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>{!Error_No_Envoi_Rows_Message}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error_Sending_Email</name>
        <label>Error Sending Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>{!Error_No_Envoi_Rows_Message}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Founded_Envoi_Rows</name>
        <label>Check Founded Envoi Rows</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_No_Envoi_Rows</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Founded</defaultConnectorLabel>
        <rules>
            <name>Founded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetEnvoiRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RowsLoop</targetReference>
            </connector>
            <label>Founded</label>
        </rules>
    </decisions>
    <description>Envoi de l&apos;email au Réparateur, lorsqu&apos;un envoi en réparation est créé.</description>
    <environments>Default</environments>
    <interviewLabel>IL - [MNT] Envoi de l&apos;email au Réparateur {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IL - [MNT] Envoi de l&apos;email au Réparateur</label>
    <loops>
        <name>RowsLoop</name>
        <label>RowsLoop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetEnvoiRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddPiecesTable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CloseTable</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetContact</name>
        <label>GetContact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Founded_Envoi_Rows</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Destinataire__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetEnvoiRows</name>
        <label>GetEnvoiRows</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Envoi_Logistique__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ENV</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Historique_Pi_ces__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Réparateur</stringValue>
            </value>
        </filters>
        <object>Envoi_Logistique__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X2_min_After_Creation</name>
            <connector>
                <targetReference>GetEnvoiRows</targetReference>
            </connector>
            <label>2 min After Creation</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Envoi en réparation du [{!$Record.Stock__r.Name}] vers [{!$Record.Lieu_de_Destination__r.Name}] [N° ID : {!$Record.Name}]</text>
    </textTemplates>
    <textTemplates>
        <name>Error_No_Envoi_Rows_Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;Cet envoi ne contient aucune pièce à envoyer, nous ne pouvons donc pas envoyer l&apos;email de confirmation au réparateur !&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Sending_Email_Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;L&apos;email n&apos;a pas pû être envoyé vers le réparateur, contactez votre administrateur si besoin.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TableRow</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;tr style=&quot;background-color: #f9f9f9; color: #000;&quot;&gt;
  &lt;td style=&quot;border:1px solid #ddd; padding:6px;&quot;&gt;{!RowsLoop.Pi_ce_Unitaire__r.Code_Article__r.Name}&lt;/td&gt;
  &lt;td style=&quot;border:1px solid #ddd; padding:6px;&quot;&gt;{!RowsLoop.Pi_ce_Unitaire__r.N_Serie__c}&lt;/td&gt;
  &lt;td style=&quot;border:1px solid #ddd; padding:6px;&quot;&gt;{!RowsLoop.Pi_ce_Unitaire__r.RMA__c}&lt;/td&gt;
  &lt;td style=&quot;border:1px solid #ddd; padding:6px;&quot;&gt;{!RowsLoop.N_Bon_Livraison__c}&lt;/td&gt;
&lt;/tr&gt;</text>
    </textTemplates>
    <variables>
        <name>CCRecipientAddressList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Destinataire__r.CC_Recipient_Address__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>PiecesTable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;table style=&quot;border-collapse: collapse; width: auto; font-family: Arial, sans-serif; font-size: 14px; text-align: left;&quot;&gt;   &lt;tr style=&quot;background-color: #0492C2; color: #ffffff;&quot;&gt;    &lt;th style=&quot;border:1px solid #ddd; padding: 6px;&quot;&gt;Code Article&lt;/th&gt;     &lt;th style=&quot;border:1px solid #ddd; padding: 6px;&quot;&gt;N° de Série&lt;/th&gt;     &lt;th style=&quot;border:1px solid #ddd; padding: 6px;&quot;&gt;RMA N°&lt;/th&gt;  &lt;th style=&quot;border:1px solid #ddd; padding: 6px;&quot;&gt;Bon de Livraison&lt;/th&gt;    &lt;/tr&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>RecipientAddressList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Destinataire__r.Recipient_Address__c</elementReference>
        </value>
    </variables>
</Flow>
