force-app/main/default/flows/IL_MNT_Cr_ation_d_une_commande_de_pi_ce.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>AssignRecordId</name>
        <label>AssignRecordId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ticketCorrectifID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cr_ation_d_une_commande</targetReference>
        </connector>
    </assignments>
    <description>Création d&apos;une commande de pièce côté cockpit pour la logistique.</description>
    <environments>Default</environments>
    <interviewLabel>IL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IL - [MNT] Création d&apos;une commande de pièce</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Cr_ation_d_une_commande</name>
        <label>Création d&apos;une commande</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Cr_ation_d_une_commande_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Cr_ation_d_une_commande_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Cr_ation_d_une_commande_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Cr_ation_d_une_commande_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>flowZLauncher</name>
                    <extensionName>joshdaymentlabs:flowLauncher</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>showFlowInModal</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_showFlowInModal</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>modalSize</name>
                        <value>
                            <stringValue>large</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>flowToLaunch</name>
                        <value>
                            <stringValue>IL_MNT_Cr_ation_d_une_adresse_de_livraison</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <stringValue>Créer une Adresse de Livraison</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconPosition</name>
                        <value>
                            <stringValue>Right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttonVariant</name>
                        <value>
                            <stringValue>neutral</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Create_Demande</name>
            <extensionName>c:mntGestionDemandeLogistique</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>viewCommandInfo</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isSaveComplete</assignToReference>
                <name>isSaveComplete</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Annuler</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AssignRecordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>isSaveComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ticketCorrectifID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
