force-app/main/default/flows/IL_MNT_Cr_ation_d_un_Stock.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>AssignSite</name>
        <label>AssignSite</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>site.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nom_du_Site</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>site.Nom_du_site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nom_du_Technicien_Ville</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>site.Type_de_Stock__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_de_Stock</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>site.Liste_Logisticiens__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Liste_Logisticiens</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>site.D_coupage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>decoupage.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>site.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>site.Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CIRCET</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>site.sitetracker__Street_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adresse</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>site.sitetracker__Zip_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Code_Postal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>site.sitetracker__City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ville</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>site.sitetracker__st_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pays</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateStock</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>R_parateur</name>
        <choiceText>Réparateur</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Réparateur</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stock</name>
        <choiceText>Stock</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stock</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>Country</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>sitetracker__st_Country__c</picklistField>
        <picklistObject>sitetracker__Site__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>IL - [MNT] Création d&apos;un Stock {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IL - [MNT] Création d&apos;un Stock</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateStock</name>
        <label>CreateStock</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SuccesScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>site</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetRecordType</name>
        <label>GetRecordType</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignSite</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>sitetracker__Site__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CIRCET</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Cr_er_un_nouveau_Stock</name>
        <label>Créer un nouveau Stock</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetRecordType</targetReference>
        </connector>
        <fields>
            <name>header</name>
            <fieldText>&lt;h2 style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(12, 0, 92);&quot;&gt;Créer un nouveau Stock&lt;/strong&gt;&lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cr_er_un_nouveau_Stock_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Cr_er_un_nouveau_Stock_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nom_du_Site</name>
                    <dataType>String</dataType>
                    <fieldText>Nom du Site</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Type_de_Stock</name>
                    <choiceReferences>Stock</choiceReferences>
                    <choiceReferences>R_parateur</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Stock</defaultSelectedChoiceReference>
                    <fieldText>Type de Stock</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Cr_er_un_nouveau_Stock_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nom_du_Technicien_Ville</name>
                    <dataType>String</dataType>
                    <fieldText>Nom du Technicien / Ville</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Adresse</name>
                    <dataType>String</dataType>
                    <fieldText>Adresse</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Cr_er_un_nouveau_Stock_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Cr_er_un_nouveau_Stock_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>decoupage</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>sitetracker__Site__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Zone d&apos;Intervention</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>D_coupage__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Cr_er_un_nouveau_Stock_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Code_Postal</name>
                    <dataType>String</dataType>
                    <fieldText>Code Postal</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Cr_er_un_nouveau_Stock_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Ville</name>
                    <dataType>String</dataType>
                    <fieldText>Ville</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Cr_er_un_nouveau_Stock_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Cr_er_un_nouveau_Stock_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Liste_Logisticiens</name>
                    <fieldText>Liste Logisticiens</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Cr_er_un_nouveau_Stock_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Pays</name>
                    <choiceReferences>Country</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Pays</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(173, 0, 0);&quot;&gt;Une erreur est survenue, veuillez contacter votre administrateur !&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccesScreen</name>
        <label>SuccesScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(8, 0, 89);&quot;&gt;Le Stock a bien été créé !&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cr_er_un_nouveau_Stock</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>site</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sitetracker__Site__c</objectType>
    </variables>
</Flow>
