force-app/main/default/flows/IL_MNT_Ajout_RMA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>AddRecordId</name>
        <label>AddRecordId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_PU</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_RMA_File_Uploaded</name>
        <label>Is RMA File Uploaded ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>RMA_Obligatoire</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Upload.contentDocIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PU</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>isRecordId</name>
        <label>isRecordId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_PU</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Record</defaultConnectorLabel>
        <rules>
            <name>X1_RecordId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>AddRecordId</targetReference>
            </connector>
            <label>1 RecordId</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation</name>
        <label>Validation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>PULoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Annuler</defaultConnectorLabel>
        <rules>
            <name>Valider</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buttons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Valider</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_RMA_File_Uploaded</targetReference>
            </connector>
            <label>Valider</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>IL - [MNT] Ajout RMA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IL - [MNT] Ajout RMA</label>
    <loops>
        <name>PULoop</name>
        <label>PULoop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_PU</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_RMA</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_PU_History</name>
        <label>Create PU History</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PULoop</targetReference>
        </connector>
        <inputAssignments>
            <field>Lieu__c</field>
            <value>
                <elementReference>PULoop.Lieu__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pi_ce_Unitaire__c</field>
            <value>
                <elementReference>PULoop.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>R_parateur__c</field>
            <value>
                <elementReference>Reparateur.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remarques__c</field>
            <value>
                <elementReference>Remarque</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>A envoyer en REP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>PU</stringValue>
            </value>
        </inputAssignments>
        <object>Historique_Pi_ces__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_PU</name>
        <label>Get PU</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PULoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pi_ce_Unitaire__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PU</name>
        <label>Update PU</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_PU_History</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PULoop.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RMA__c</field>
            <value>
                <elementReference>N_RMA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reparateur__c</field>
            <value>
                <elementReference>Reparateur.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>A Envoyer en REP</stringValue>
            </value>
        </inputAssignments>
        <object>Pi_ce_Unitaire__c</object>
    </recordUpdates>
    <screens>
        <name>Add_RMA</name>
        <label>Add RMA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Validation</targetReference>
        </connector>
        <fields>
            <name>AjoutRMA</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(15, 0, 109);&quot;&gt;Ajout du RMA&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_RMA_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_RMA_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Pi_ce</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PULoop.Name</elementReference>
                    </defaultValue>
                    <fieldText>Pièce</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Panne</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PULoop.Panne__c</elementReference>
                    </defaultValue>
                    <fieldText>Panne</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>N_RMA</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PULoop.RMA__c</elementReference>
                    </defaultValue>
                    <fieldText>N° RMA</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Upload</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>RMA</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>PULoop.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_RMA_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>N_Ticket</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PULoop.Correctif__r.ID_ticket_client__c</elementReference>
                    </defaultValue>
                    <fieldText>N° Ticket</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>R_parateur_R_f_rentiel</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>PULoop.Code_Article__r.Reparateur__c</elementReference>
                    </defaultValue>
                    <fieldText>Réparateur Référentiel</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Reparateur</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Réparateur Final</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Reparateur__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Pi_ce_Unitaire__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>PULoop.Reparateur__r.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Add_RMA_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_RMA_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_RMA_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Buttons</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Annuler&quot;,&quot;value&quot;:&quot;Annuler&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Valider&quot;,&quot;value&quot;:&quot;Valider&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RMA_Obligatoire</name>
        <label>RMA Obligatoire</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_RMA</targetReference>
        </connector>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(179, 0, 0);&quot;&gt;Vous devez oligatoirement ajouter le fichier RMA !&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Suivant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isRecordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>File_Name</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&quot;RMA_&quot; + {!N_RMA}</text>
    </textTemplates>
    <textTemplates>
        <name>Remarque</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>RMA = [{!N_RMA}] à envoyer chez [{!Reparateur.recordName}]</text>
    </textTemplates>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
