force-app/main/default/flows/IL_MNT_Historique_cr_ation_d_une_Pi_ce.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_PU_History</name>
        <label>Assign PU History</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HistoriquePU.Pi_ce_Unitaire__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePU.Lieu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lieu__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePU.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En Stock</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePU.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePU.Remarques__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remarque</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PU_History</targetReference>
        </connector>
    </assignments>
    <description>Création de l&apos;historique lors de la création d&apos;une Pièce Unitaire</description>
    <environments>Default</environments>
    <interviewLabel>IL -  [MNT] Historique création d&apos;une Pièce {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IL -  [MNT] Historique création d&apos;une Pièce</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_PU_History</name>
        <label>Create PU History</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>HistoriquePU</inputReference>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_PU_History</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SkipFlow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Pi_ce_Unitaire__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Remarque</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(153, 204, 255);&quot;&gt;La pièce n&apos;existait pas et vient d&apos;être créée&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>HistoriquePU</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Historique_Pi_ces__c</objectType>
    </variables>
</Flow>
