force-app/main/default/flows/IL_MNT_Pi_ces_contr_ler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>AddAndResetRessources</name>
        <label>AddAndResetRessources</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HistoriquePiece</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyHistorique</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceAMAJ</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyPiece</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceACreer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyPiece</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriqueToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyHistorique</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Pieces</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddRecordId</name>
        <label>AddRecordId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Pieces</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContentDocumentLink</name>
        <label>AssignContentDocumentLink</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LinkedFilesLoop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentsDocumentLinkToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_New_PU.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentsDocumentLinkToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LinkedFilesLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignControlledHistory</name>
        <label>AssignControlledHistory</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ControlledHistory.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Pieces.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddAndResetRessources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignHistorique</name>
        <label>AssignHistorique</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Pi_ce_Unitaire__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Pieces.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PU</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetEnvoiRowHistory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignHistoriquePieceHS</name>
        <label>AssignHistoriquePieceHS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Lieu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Pieces.Lieu__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En attente RMA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquesPiece</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>HistoriquePiece</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignPieceHS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignHistoriquePieceID</name>
        <label>AssignHistoriquePieceID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HistoriqueToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OldHistoriqueLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriqueToUpdate.Pi_ce_Unitaire__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_New_PU.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>HistoriqueToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OldHistoriqueLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignHistoriquePieceOk</name>
        <label>AssignHistoriquePieceOk</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Lieu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Pieces.Lieu__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En Stock</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.INVENTAI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.TRAME__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrameINVENTAI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Remarques__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemarqueINVENTAI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquesPiece</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>HistoriquesPiece</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignPieceOK</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewStatus</name>
        <label>AssignNewStatus</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HistoriqueToUpdate.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contrôlé</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriqueToUpdate.Statut_Envoi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Livré</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignHistoriquePieceID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewStatus2</name>
        <label>AssignNewStatus2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HistoriqueToUpdate.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contrôlé</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriqueToUpdate.Statut_Envoi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Livré</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriqueToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetEnvoiRowHistory.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>HistoriqueToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Piece_OK</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOldPiece</name>
        <label>AssignOldPiece</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PieceAMAJ</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_New_PU</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceAMAJ.Lieu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Pieces.Lieu__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceAMAJ.Lieu_Pr_c_dent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Pieces.Lieu_Pr_c_dent__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceAMAJ.Correctif__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Pieces.Correctif__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceAMAJ.N_Bon_Livraison__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Pieces.N_Bon_Livraison__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceAMAJ.Pi_ce_Install_e__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Pieces.Pi_ce_Install_e__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceAMAJ.Panne__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Pieces.Panne__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceAMAJ.Remarques__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Pieces.Remarques__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PiecesAMAJ</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PieceAMAJ</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignOldPieceHistorique</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOldPieceHistorique</name>
        <label>AssignOldPieceHistorique</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Pi_ce_Unitaire__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_New_PU.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PU</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignPieceToDelete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPiece</name>
        <label>AssignPiece</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PieceAMAJ.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Pieces.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignHistorique</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPieceHS</name>
        <label>AssignPieceHS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PieceAMAJ.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En Attente RMA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceAMAJ.Lieu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Pieces.Lieu_Pr_c_dent__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceAMAJ.Pi_ce_HS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PiecesAMAJ</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PieceAMAJ</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignControlledHistory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPieceOK</name>
        <label>AssignPieceOK</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PieceAMAJ.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En Stock</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceAMAJ.Lieu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Pieces.Lieu_Pr_c_dent__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceAMAJ.Pi_ce_HS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceAMAJ.Correctif__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceAMAJ.N_Bon_Livraison__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceAMAJ.Pi_ce_Install_e__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceAMAJ.Panne__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceAMAJ.Remarques__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PiecesAMAJ</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PieceAMAJ</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignControlledHistory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPieceToDelete</name>
        <label>AssignPieceToDelete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PieceToDelete.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Pieces.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PiecesToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PieceToDelete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetOldHistorique</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Pi_ce_HS</name>
        <choiceText>Pièce HS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pièce HS</stringValue>
        </value>
    </choices>
    <choices>
        <name>PieceOK</name>
        <choiceText>Pièce OK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pièce OK</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Article_Or_Serial_Number_Updated</name>
        <label>Is Article Or Serial Number Updated ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Piece_OK</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Updated</defaultConnectorLabel>
        <rules>
            <name>Updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CodeArticleSearch.selectedRecordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_On_Pieces.Code_Article__r.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>N_S_rie_de_la_Pi_ce</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_On_Pieces.N_Serie__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_New_PU</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_PU_Found</name>
        <label>Is New PU Found ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>AssignPiece</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Founded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_New_PU</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignOldPiece</targetReference>
            </connector>
            <label>Founded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Piece_OK</name>
        <label>Is Piece OK ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>AssignHistoriquePieceHS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pièce HS</defaultConnectorLabel>
        <rules>
            <name>Pi_ce_OK</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Est_ce_que_la_Pi_ce_est_fonctionnelle</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pièce OK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignHistoriquePieceOk</targetReference>
            </connector>
            <label>Pièce OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsLastEnvoiHistory</name>
        <label>IsLastEnvoiHistory</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>AssignHistoriquePieceID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_IsLastEnvoiHistory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OldHistoriqueLoop.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A contrôler</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OldHistoriqueLoop.Statut_Envoi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Envoyé</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNewStatus</targetReference>
            </connector>
            <label>Outcome 1 of IsLastEnvoiHistory</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsLinkToCreate</name>
        <label>IsLinkToCreate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>IsLinkToDelete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoLinkToCreate</defaultConnectorLabel>
        <rules>
            <name>LinkToCreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContentsDocumentLinkToCreate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateContentDocumentLink</targetReference>
            </connector>
            <label>LinkToCreate</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsLinkToDelete</name>
        <label>IsLinkToDelete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>IsPieceToDelete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoLinkToDelete</defaultConnectorLabel>
        <rules>
            <name>LinkToDelete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContentsDocumentLinkToDelete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteContentDocumentLink</targetReference>
            </connector>
            <label>LinkToDelete</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPieceToDelete</name>
        <label>IsPieceToDelete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>NoPieceToDelete</defaultConnectorLabel>
        <rules>
            <name>PieceToDelete2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PiecesToDelete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeletePieces</targetReference>
            </connector>
            <label>PieceToDelete</label>
        </rules>
    </decisions>
    <decisions>
        <name>isRecordId</name>
        <label>isRecordId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Pieces</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No RecordId</defaultConnectorLabel>
        <rules>
            <name>X1_RecordId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>AddRecordId</targetReference>
            </connector>
            <label>1 RecordId</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation</name>
        <label>Validation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_On_Pieces</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Annuler</defaultConnectorLabel>
        <rules>
            <name>Valider</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buttons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Valider</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Article_Or_Serial_Number_Updated</targetReference>
            </connector>
            <label>Valider</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Today</name>
        <dataType>String</dataType>
        <expression>LPAD(TEXT(DAY({!$Flow.CurrentDate})), 2, &quot;0&quot;) &amp; &quot;/&quot; &amp;
LPAD(TEXT(MONTH({!$Flow.CurrentDate})), 2, &quot;0&quot;) &amp; &quot;/&quot; &amp;
TEXT(YEAR({!$Flow.CurrentDate}))</expression>
    </formulas>
    <formulas>
        <name>Trigramme</name>
        <dataType>String</dataType>
        <expression>CASE({!Loop_On_Pieces.Lieu_Pr_c_dent__r.Name},
&quot;STR01&quot;, &quot;CIR01AGJ&quot;,
&quot;STR13&quot;, &quot;CIR01AGL&quot;,
&quot;STR14&quot;, &quot;CIR01AGQ&quot;,
&quot;STR31&quot;, &quot;CIR01AGN&quot;,
&quot;STR33&quot;, &quot;CIR01AGO&quot;,
&quot;STR34&quot;, &quot;CIR01AGM&quot;,
&quot;STR42&quot;, &quot;CIR01AGK&quot;,
&quot;STR44&quot;, &quot;CIR01AGP&quot;,
&quot;STR54&quot;, &quot;CIR01AGS&quot;,
&quot;STR59&quot;, &quot;CIR01AGR&quot;,
&quot;STR93&quot;, &quot;CIR01AGH&quot;,
&quot;STR20&quot;, &quot;CIR01AGD&quot;,
&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>WhichNTF</name>
        <dataType>String</dataType>
        <expression>IF({!Buttons.value} = &apos;NTF&apos;, &apos;NTF&apos;, &apos;REPARE&apos;)</expression>
    </formulas>
    <interviewLabel>IL - [MNT] Pièces à contrôler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IL - [MNT] Pièces à contrôler</label>
    <loops>
        <name>LinkedFilesLoop</name>
        <label>LinkedFilesLoop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetLinkedFiles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignContentDocumentLink</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Piece_OK</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_On_Pieces</name>
        <label>Loop On Pieces</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Pieces</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdatePieces</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>OldHistoriqueLoop</name>
        <label>OldHistoriqueLoop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetOldHistorique</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsLastEnvoiHistory</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetLinkedFiles</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateContentDocumentLink</name>
        <label>CreateContentDocumentLink</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsLinkToDelete</targetReference>
        </connector>
        <inputReference>ContentsDocumentLinkToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateHistory</name>
        <label>CreateHistory</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UpdateHistorique</targetReference>
        </connector>
        <inputReference>HistoriquePiece</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>DeleteContentDocumentLink</name>
        <label>DeleteContentDocumentLink</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsPieceToDelete</targetReference>
        </connector>
        <inputReference>ContentsDocumentLinkToDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeletePieces</name>
        <label>DeletePieces</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>PiecesToDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_New_PU</name>
        <label>Get New PU</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_New_PU_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewPUName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pi_ce_Unitaire__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pieces</name>
        <label>Get Pieces</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_Pieces</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pi_ce_Unitaire__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetEnvoiRowHistory</name>
        <label>GetEnvoiRowHistory</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignNewStatus2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pi_ce_Unitaire__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_On_Pieces.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ENV</stringValue>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>A contrôler</stringValue>
            </value>
        </filters>
        <filters>
            <field>Statut_Envoi__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Envoyé</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Historique_Pi_ces__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLinkedFiles</name>
        <label>GetLinkedFiles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LinkedFilesLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_On_Pieces.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOldHistorique</name>
        <label>GetOldHistorique</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OldHistoriqueLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pi_ce_Unitaire__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_On_Pieces.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Historique_Pi_ces__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Pi_ce_Unitaire__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateHistorique</name>
        <label>UpdateHistorique</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsLinkToCreate</targetReference>
        </connector>
        <inputReference>HistoriquesToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePieces</name>
        <label>UpdatePieces</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CreateHistory</targetReference>
        </connector>
        <inputReference>PiecesAMAJ</inputReference>
    </recordUpdates>
    <screens>
        <name>UI</name>
        <label>UI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Validation</targetReference>
        </connector>
        <fields>
            <name>Header_NTF</name>
            <fieldText>&lt;h2 style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(22, 0, 147);&quot;&gt;Pièce à Contrôler&lt;/span&gt;&lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UI_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>UI_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>N_Ticket2</name>
                    <extensionName>c:pillSearch</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>selectedRecordId</name>
                        <value>
                            <elementReference>Loop_On_Pieces.Correctif__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>sObjectType</name>
                        <value>
                            <stringValue>Correctif__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labelField</name>
                        <value>
                            <stringValue>ID_ticket_client__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>searchFields</name>
                        <value>
                            <stringValue>ID_ticket_client__c, Site__r.Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>N° Ticket</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Rechercher un Ticket ...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>sublabelField</name>
                        <value>
                            <stringValue>Site__r.Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Panne</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_On_Pieces.Panne__c</elementReference>
                    </defaultValue>
                    <fieldText>Panne</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>UI_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>piece_retournee</name>
                    <extensionName>c:pillSearch</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>sObjectType</name>
                        <value>
                            <stringValue>Pi_ce_Unitaire__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labelField</name>
                        <value>
                            <stringValue>Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Rechercher une Pièce ...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Pièce Retournée</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>searchFields</name>
                        <value>
                            <stringValue>Name, Cl_quipement__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>sublabelField</name>
                        <value>
                            <stringValue>Cl_quipement__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>custom:custom19</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecordId</name>
                        <value>
                            <elementReference>Loop_On_Pieces.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>piece_installee</name>
                    <extensionName>c:pillSearch</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>labelField</name>
                        <value>
                            <stringValue>Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>searchFields</name>
                        <value>
                            <stringValue>Name, Cl_quipement__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Pièce Installée</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>sObjectType</name>
                        <value>
                            <stringValue>Pi_ce_Unitaire__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Rechercher une Pièce ...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecordId</name>
                        <value>
                            <elementReference>Loop_On_Pieces.Pi_ce_Install_e__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>custom:custom19</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>sublabelField</name>
                        <value>
                            <stringValue>Cl_quipement__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>RecordFiles</name>
            <extensionName>c:mntFilesManager</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Loop_On_Pieces.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NewPieceTitle</name>
            <fieldText>&lt;h4&gt;&lt;strong&gt;Correction des Informations de la Pièce&lt;/strong&gt;&lt;/h4&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UI_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>UI_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CodeArticleSearch</name>
                    <extensionName>c:pillSearch</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>utility:cart</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>sObjectType</name>
                        <value>
                            <stringValue>Articles__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>searchFields</name>
                        <value>
                            <stringValue>Name, Mnemonique__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Code Article de l&apos;équipement</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Rechercher un Code Article...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>sublabelField</name>
                        <value>
                            <stringValue>Mnemonique__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecordId</name>
                        <value>
                            <elementReference>Loop_On_Pieces.Code_Article__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>UI_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>N_S_rie_de_la_Pi_ce</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_On_Pieces.N_Serie__c</elementReference>
                    </defaultValue>
                    <fieldText>N° Série de la Pièce</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>UI_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Est_ce_que_la_Pi_ce_est_fonctionnelle</name>
                    <choiceReferences>Pi_ce_HS</choiceReferences>
                    <choiceReferences>PieceOK</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Pi_ce_HS</defaultSelectedChoiceReference>
                    <fieldText>Est-ce que la Pièce est fonctionnelle ?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>UI_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>UI_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>UI_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>UI_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Buttons</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Annuler&quot;,&quot;value&quot;:&quot;Annuler&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Valider&quot;,&quot;value&quot;:&quot;Valider&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isRecordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NewPUName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!CodeArticleSearch.selectedRecordName}-{!N_S_rie_de_la_Pi_ce}</text>
    </textTemplates>
    <textTemplates>
        <name>RemarqueINVENTAI</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Remis en Stock après contrôle de pièce HS</text>
    </textTemplates>
    <textTemplates>
        <name>TrameINVENTAI</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>DU {!PieceAMAJ.Lieu_Pr_c_dent__r.Name} VERS {!PieceAMAJ.Lieu_Pr_c_dent__r.Name} LE {!Today}</text>
    </textTemplates>
    <variables>
        <name>ContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ContentsDocumentLinkToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ContentsDocumentLinkToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ControlledHistory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Historique_Pi_ces__c</objectType>
    </variables>
    <variables>
        <name>EmptyHistorique</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Historique_Pi_ces__c</objectType>
    </variables>
    <variables>
        <name>EmptyPiece</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pi_ce_Unitaire__c</objectType>
    </variables>
    <variables>
        <name>HistoriquePiece</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Historique_Pi_ces__c</objectType>
    </variables>
    <variables>
        <name>HistoriquesPiece</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Historique_Pi_ces__c</objectType>
    </variables>
    <variables>
        <name>HistoriquesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Historique_Pi_ces__c</objectType>
    </variables>
    <variables>
        <name>HistoriqueToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Historique_Pi_ces__c</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PieceACreer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pi_ce_Unitaire__c</objectType>
    </variables>
    <variables>
        <name>PieceAMAJ</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pi_ce_Unitaire__c</objectType>
    </variables>
    <variables>
        <name>PiecesACreer</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pi_ce_Unitaire__c</objectType>
    </variables>
    <variables>
        <name>PiecesAMAJ</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pi_ce_Unitaire__c</objectType>
    </variables>
    <variables>
        <name>PiecesToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pi_ce_Unitaire__c</objectType>
    </variables>
    <variables>
        <name>PieceToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pi_ce_Unitaire__c</objectType>
    </variables>
    <variables>
        <name>PU</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pi_ce_Unitaire__c</objectType>
    </variables>
    <variables>
        <name>PU_History</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Historique_Pi_ces__c</objectType>
    </variables>
    <variables>
        <name>PUs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pi_ce_Unitaire__c</objectType>
    </variables>
    <variables>
        <name>PUs_History</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Historique_Pi_ces__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RepareType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
