force-app/main/default/flows/IL_MNT_Confirmation_de_R_ception_d_une_Pi_ce_par_un_Tech.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>AddRecordId</name>
        <label>AddRecordId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetHistoryRow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCommand</name>
        <label>AssignCommand</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>commande</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCommande</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>commande.Statut_Commande__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Clôturer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCommand</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEnvoi</name>
        <label>AssignEnvoi</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>envois</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getEnvoi</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>envoisLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEnvois</name>
        <label>AssignEnvois</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>envois</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>envoisLoop1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>envoisLoop1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEnvoiStatus</name>
        <label>AssignEnvoiStatus</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>envoi</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>envoisLoop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>envoi.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Clôturer OK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>envoisToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>envoi</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NbEnvoiClotureOK</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>envoisLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNbEnvoiClotureNOK</name>
        <label>AssignNbEnvoiClotureNOK</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NbEnvoiClotureNOK</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>envoisLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNbPUenStock</name>
        <label>AssignNbPUenStock</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NbPUenStock</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RowsLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNbPUNonEnStock</name>
        <label>AssignNbPUNonEnStock</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NbPUNonEnStock</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RowsLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InitNbPU</name>
        <label>InitNbPU</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NbPUenStock</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NbPUNonEnStock</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getEnvoiRows</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isAllEnvoiOK</name>
        <label>isAllEnvoiOK</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>HistoryRowsLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotAllEnvoiOK</defaultConnectorLabel>
        <rules>
            <name>AllEnvoiOK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NbEnvoiClotureNOK</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCommande</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCommand</targetReference>
            </connector>
            <label>AllEnvoiOK</label>
        </rules>
    </decisions>
    <decisions>
        <name>isAllPieceDelivered</name>
        <label>isAllPieceDelivered</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>AssignNbEnvoiClotureNOK</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not</defaultConnectorLabel>
        <rules>
            <name>AllPieceDelivered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NbPUNonEnStock</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignEnvoiStatus</targetReference>
            </connector>
            <label>AllPieceDelivered</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsAssociatedToCommand</name>
        <label>IsAssociatedToCommand</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>getEnvoi</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isAssociatedToCommand2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HistoryRowsLoop.Envoi_Logistique__r.Commande_Pi_ces__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>HistoryRowsLoop.Commande_Pi_ces__r.Statut_Commande__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Clôturer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCommande</targetReference>
            </connector>
            <label>isAssociatedToCommand</label>
        </rules>
    </decisions>
    <decisions>
        <name>isEnvoiToUpdate</name>
        <label>isEnvoiToUpdate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isAllEnvoiOK</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EnvoiToUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>envoisToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateEnvois</targetReference>
            </connector>
            <label>EnvoiToUpdate</label>
        </rules>
    </decisions>
    <decisions>
        <name>isHPUValid</name>
        <label>isHPUValid</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ErrorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PUNotValid</defaultConnectorLabel>
        <rules>
            <name>PUValid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetHistoryRow</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HistoryRowsLoop</targetReference>
            </connector>
            <label>PUValid</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsOK</name>
        <label>IsOK</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>HistoryRowsLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Annuler</defaultConnectorLabel>
        <rules>
            <name>Valider</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buttons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Valider</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetUserStock</targetReference>
            </connector>
            <label>Valider</label>
        </rules>
    </decisions>
    <decisions>
        <name>isPieceEnStock</name>
        <label>isPieceEnStock</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>AssignNbPUNonEnStock</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isPieceNonEnStock</defaultConnectorLabel>
        <rules>
            <name>PieceEnStock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RowsLoop.Pi_ce_Unitaire__r.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En Stock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNbPUenStock</targetReference>
            </connector>
            <label>PieceEnStock</label>
        </rules>
    </decisions>
    <decisions>
        <name>isRecordId</name>
        <label>isRecordId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>GetHistoryRow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>recordIdKO</defaultConnectorLabel>
        <rules>
            <name>recordIdOK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>AddRecordId</targetReference>
            </connector>
            <label>recordIdOK</label>
        </rules>
    </decisions>
    <description>Dans l&apos;application, confirmation de la bonne réception d&apos;une pièce par un technicien, pour qu&apos;elle passe &quot;En stock&quot;</description>
    <environments>Default</environments>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$System.OriginDateTime})</expression>
    </formulas>
    <interviewLabel>IL - [MNT] Confirmation de Réception d&apos;une Pièce par un Tech {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IL - [MNT] Confirmation de Réception d&apos;une Pièce par un Tech</label>
    <loops>
        <name>envoisLoop</name>
        <label>envoisLoop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>envois</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>InitNbPU</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>isEnvoiToUpdate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>envoisLoop1</name>
        <label>envoisLoop1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>getEnvois</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignEnvois</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>envoisLoop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>HistoryRowsLoop</name>
        <label>HistoryRowsLoop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetHistoryRow</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getPU</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>RowsLoop</name>
        <label>RowsLoop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>getEnvoiRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>isPieceEnStock</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>isAllPieceDelivered</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreatePieceHistory</name>
        <label>CreatePieceHistory</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsAssociatedToCommand</targetReference>
        </connector>
        <inputAssignments>
            <field>INVENTAI__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lieu__c</field>
            <value>
                <elementReference>GetUserStock.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pi_ce_Unitaire__c</field>
            <value>
                <elementReference>HistoryRowsLoop.Pi_ce_Unitaire__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remarques__c</field>
            <value>
                <elementReference>remarquePU</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>En Stock</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRAME__c</field>
            <value>
                <elementReference>TrameINVENTAI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>PU</stringValue>
            </value>
        </inputAssignments>
        <object>Historique_Pi_ces__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetCommande</name>
        <label>GetCommande</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getEnvois</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HistoryRowsLoop.Envoi_Logistique__r.Commande_Pi_ces__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Commande_Pi_ces__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Statut_Commande__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEnvoi</name>
        <label>getEnvoi</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignEnvoi</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HistoryRowsLoop.Envoi_Logistique__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Envoi_Logistique__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Statut__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEnvoiRows</name>
        <label>getEnvoiRows</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RowsLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Envoi_Logistique__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>envoisLoop.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ENV</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Historique_Pi_ces__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Pi_ce_Unitaire__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEnvois</name>
        <label>getEnvois</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>envoisLoop1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Commande_Pi_ces__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCommande.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Clôturer OK</stringValue>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Clôturer NOK</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Envoi_Logistique__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Statut__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetHistoryRow</name>
        <label>GetHistoryRow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isHPUValid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ENV</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <filters>
            <field>Statut_Envoi__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Envoyé</stringValue>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>A réceptionner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Historique_Pi_ces__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPU</name>
        <label>getPU</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ReceptionAcceptation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HistoryRowsLoop.Pi_ce_Unitaire__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pi_ce_Unitaire__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUserStock</name>
        <label>GetUserStock</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdatePU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>STE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Liste_Logisticiens__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>UserName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sitetracker__Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCommand</name>
        <label>UpdateCommand</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HistoryRowsLoop</targetReference>
        </connector>
        <inputReference>commande</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateEnvoiRow</name>
        <label>UpdateEnvoiRow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CreatePieceHistory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HistoryRowsLoop.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Statut_Envoi__c</field>
            <value>
                <stringValue>Livré</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>Réceptionné</stringValue>
            </value>
        </inputAssignments>
        <object>Historique_Pi_ces__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateEnvois</name>
        <label>UpdateEnvois</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isAllEnvoiOK</targetReference>
        </connector>
        <inputReference>envoisToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePU</name>
        <label>UpdatePU</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UpdateEnvoiRow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HistoryRowsLoop.Pi_ce_Unitaire__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lieu__c</field>
            <value>
                <elementReference>GetUserStock.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remarques__c</field>
            <value>
                <elementReference>remarquePU</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>En Stock</stringValue>
            </value>
        </inputAssignments>
        <object>Pi_ce_Unitaire__c</object>
    </recordUpdates>
    <screens>
        <name>ErrorMessage</name>
        <label>ErrorMessage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(189, 0, 0);&quot;&gt;Cette pièce ne peut pas être Réceptionnée, veuillez en sélectionner une autre !&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ReceptionAcceptation</name>
        <label>ReceptionAcceptation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Non</backButtonLabel>
        <connector>
            <targetReference>IsOK</targetReference>
        </connector>
        <fields>
            <name>text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Confirmez-vous la réception de la pièce ?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ReceptionAcceptation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ReceptionAcceptation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>N_Ticket</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>HistoryRowsLoop.N_Ticket__c</elementReference>
                    </defaultValue>
                    <fieldText>N° Ticket</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>HistoryRowsLoop.N_Ticket__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Nom_du_Site</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>HistoryRowsLoop.Correctif__r.Site__r.Name</elementReference>
                    </defaultValue>
                    <fieldText>Nom du Site</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>HistoryRowsLoop.Correctif__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Pi_ce_R_cup_rer</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>HistoryRowsLoop.Pi_ce_Unitaire__r.Name</elementReference>
                    </defaultValue>
                    <fieldText>Pièce à Récupérer</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>N_Bon_Livraison</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>HistoryRowsLoop.N_Bon_Livraison__c</elementReference>
                    </defaultValue>
                    <fieldText>N° Bon Livraison</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Statut_Chronopost</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>HistoryRowsLoop.Statut_Chronopost__c</elementReference>
                    </defaultValue>
                    <fieldText>Statut Chronopost</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>HistoryRowsLoop.Statut_Chronopost__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Buttons</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Annuler&quot;,&quot;value&quot;:&quot;Annuler&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Valider&quot;,&quot;value&quot;:&quot;Valider&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Oui</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isRecordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>remarquePU</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Pièce réceptionnée par [{!$User.FirstName} {!$User.LastName}] vers son Stock</text>
    </textTemplates>
    <textTemplates>
        <name>TrameINVENTAI</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>DU {!getPU.Lieu_Pr_c_dent__r.Name} VERS {!GetUserStock.Name} LE {!today}</text>
    </textTemplates>
    <textTemplates>
        <name>UserName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$User.FirstName} {!$User.LastName}</text>
    </textTemplates>
    <variables>
        <name>commande</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Commande_Pi_ces__c</objectType>
    </variables>
    <variables>
        <name>envoi</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Envoi_Logistique__c</objectType>
    </variables>
    <variables>
        <name>envois</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Envoi_Logistique__c</objectType>
    </variables>
    <variables>
        <name>envoisToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Envoi_Logistique__c</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NbEnvoiClotureNOK</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NbEnvoiClotureOK</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NbPUenStock</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NbPUNonEnStock</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
