force-app/main/default/flows/IL_MNT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>AssignPieceNTF</name>
        <label>AssignPieceNTF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PieceAMAJ.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En Stock</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Pieces</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Validation</name>
        <label>Validation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_On_Pieces</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Annuler</defaultConnectorLabel>
        <rules>
            <name>Valider</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buttons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Valider</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Repare_Type</targetReference>
            </connector>
            <label>Valider</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Repare_Type</name>
        <label>Which Repare Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_On_Pieces</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rebut</defaultConnectorLabel>
        <rules>
            <name>R_par</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RepareType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NTF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPieceNTF</targetReference>
            </connector>
            <label>Réparé / NTF</label>
        </rules>
        <rules>
            <name>Echange_Standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RepareType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ECH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_On_Pieces</targetReference>
            </connector>
            <label>Echange Standard</label>
        </rules>
    </decisions>
    <description>Flow qui gère les retours de pièces après une réparation dans la logistique</description>
    <environments>Default</environments>
    <formulas>
        <name>Title</name>
        <dataType>String</dataType>
        <expression>CASE({!RepareType}, &apos;NTF&apos;, &quot;Retour d&apos;une pièce réparée ou NTF&quot;, &apos;ECH&apos;, &apos;Echange standard&apos;, &apos;Rebut&apos;)</expression>
    </formulas>
    <interviewLabel>IL - MNT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IL - [MNT] Retour de Réparation de Pièce</label>
    <loops>
        <name>Loop_On_Pieces</name>
        <label>Loop On Pieces</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Pieces</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UI</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Pieces</name>
        <label>Get Pieces</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_Pieces</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pi_ce_Unitaire__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>UI</name>
        <label>UI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Validation</targetReference>
        </connector>
        <fields>
            <name>Header_NTF</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 38, 150); font-size: 16px;&quot;&gt;{!Title}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OldPieceTitle</name>
            <fieldText>&lt;h4&gt;&lt;strong&gt;Pièce Retournée&lt;/strong&gt;&lt;/h4&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UI_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>UI_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>N_Ticket</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_On_Pieces.Correctif__r.ID_ticket_client__c</elementReference>
                    </defaultValue>
                    <fieldText>N° Ticket</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Pi_ce_Retourn_e</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_On_Pieces.Name</elementReference>
                    </defaultValue>
                    <fieldText>Pièce Retournée</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>UI_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Site</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_On_Pieces.Lieu__r.Name</elementReference>
                    </defaultValue>
                    <fieldText>Site</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Cl_Equipement</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_On_Pieces.Cl_quipement__c</elementReference>
                    </defaultValue>
                    <fieldText>Clé Equipement</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>UI_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RMA</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Loop_On_Pieces.RMA__c</elementReference>
                    </defaultValue>
                    <fieldText>RMA</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Date_Retour_NTF</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDateTime</elementReference>
                    </defaultValue>
                    <fieldText>Date de Réception</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>NewPieceTitle</name>
            <fieldText>&lt;h4&gt;&lt;strong&gt;Nouvelle Pièce&lt;/strong&gt;&lt;/h4&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RepareType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>ECH</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>UI_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>UI_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CodeArticleSearch</name>
                    <extensionName>c:pillSearch</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>utility:cart</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>sObjectType</name>
                        <value>
                            <stringValue>Articles__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>searchFields</name>
                        <value>
                            <stringValue>Name, Mnemonique__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Code Article de l&apos;équipement</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Rechercher un Code Article...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>sublabelField</name>
                        <value>
                            <stringValue>Mnemonique__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>UI_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>N_S_rie_de_la_Pi_ce</name>
                    <dataType>String</dataType>
                    <fieldText>N° Série de la Pièce</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>UI_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Lieu</name>
                    <extensionName>c:pillSearch</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>utility:checkin</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>sObjectType</name>
                        <value>
                            <stringValue>sitetracker__Site__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Lieu</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Rechercher un Lieu</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RepareType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>ECH</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>UI_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>UI_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>UI_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>UI_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Buttons</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Annuler&quot;,&quot;value&quot;:&quot;Annuler&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Valider&quot;,&quot;value&quot;:&quot;Valider&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Pieces</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>HistoriquePiece</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Historique_Pi_ces__c</objectType>
    </variables>
    <variables>
        <name>HistoriquesPiece</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Historique_Pi_ces__c</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PieceACreer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pi_ce_Unitaire__c</objectType>
    </variables>
    <variables>
        <name>PieceAMAJ</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pi_ce_Unitaire__c</objectType>
    </variables>
    <variables>
        <name>PiecesACreer</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pi_ce_Unitaire__c</objectType>
    </variables>
    <variables>
        <name>PiecesAMAJ</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pi_ce_Unitaire__c</objectType>
    </variables>
    <variables>
        <name>PU</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pi_ce_Unitaire__c</objectType>
    </variables>
    <variables>
        <name>PU_History</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Historique_Pi_ces__c</objectType>
    </variables>
    <variables>
        <name>PUs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pi_ce_Unitaire__c</objectType>
    </variables>
    <variables>
        <name>PUs_History</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Historique_Pi_ces__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RepareType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
