force-app/main/default/flows/IL_MNT_Formulaire_Installation_Pi_ce.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Assign_Emplty_PieceACreer</name>
        <label>Assign Emplty PieceACreer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PieceACreer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyPiece</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InitScreenValue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Historique_Created_Piece</name>
        <label>Assign Historique Created Piece</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Pi_ce_Unitaire__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PieceACreer.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Panne__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Panne_Constat_e</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A retourner</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Lieu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MonStock</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceToLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PieceACreer.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Remarques__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemarquePUARetourner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Correctif__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetTicket.Correctif__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquesPieces</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>HistoriquePiece</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyHistory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Photos_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Historique_HS_Piece</name>
        <label>Assign Historique HS Piece</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Pi_ce_Unitaire__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetPieceHS.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Panne__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Panne_Constat_e</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A retourner</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Lieu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MonStock</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Remarques__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemarquePUARetourner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Correctif__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetTicket.Correctif__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquesPieces</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>HistoriquePiece</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyHistory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Photos_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Historique_Pi_ce_A_Retourner</name>
        <label>Assign Historique Pièce A Retourner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Pi_ce_Unitaire__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MyStockSelectedPiece</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Panne__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Panne_Constat_e</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A retourner</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Lieu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MonStock</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Remarques__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemarquePUARetourner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Correctif__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetTicket.Correctif__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquesPieces</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>HistoriquePiece</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyHistory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Pi_ce_A_Retourner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Historique_Pi_ce_Installee</name>
        <label>Assign Historique Pièce Installee</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Pi_ce_Unitaire__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetInstalledPiece.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Panne__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Panne_Constat_e</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Installé</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Lieu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetTicket.Correctif__r.Site__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PU</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Remarques__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemarquePUInstallee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.Correctif__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetTicket.Correctif__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.INVENTAI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece.TRAME__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TramePUInstallee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquesPieces</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>HistoriquePiece</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HistoriquePiece</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyHistory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Installed_Piece</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Installed_Piece</name>
        <label>Assign Installed Piece</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PieceInstallee.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetInstalledPiece.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceInstallee.Lieu_Pr_c_dent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetInstalledPiece.Lieu__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceInstallee.Lieu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetTicket.Correctif__r.Site__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceInstallee.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Installé</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceInstallee.Correctif__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetTicket.Correctif__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PiecesInstallee</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PieceInstallee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceInstallee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyPiece</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetPieceHS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pi_ce_A_Retourner</name>
        <label>Assign Pièce A Retourner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PieceARetourner.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MyStockSelectedPiece</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceARetourner.Panne__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Panne_Constat_e</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceARetourner.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A Retourner</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceARetourner.Correctif__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetTicket.Correctif__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PiecesARetourner</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PieceARetourner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceARetourner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyPiece</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Declare_An_Other_Piece</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pi_ce_A_Retourner2</name>
        <label>Assign Pièce A Retourner2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PieceARetourner.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetPieceHS.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceARetourner.Panne__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Panne_Constat_e</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceARetourner.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A Retourner</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceARetourner.Lieu_Pr_c_dent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetTicket.Correctif__r.Site__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceARetourner.Lieu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetInstalledPiece.Lieu__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceToLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetPieceHS.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceARetourner.Correctif__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetTicket.Correctif__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PiecesARetourner</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PieceARetourner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceARetourner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyPiece</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Historique_HS_Piece</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Piece_to_Create</name>
        <label>Assign Piece to Create</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PieceACreer.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A Retourner</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceACreer.Panne__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Panne_Constat_e</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceACreer.Lieu_Pr_c_dent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetTicket.Correctif__r.Site__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceACreer.Lieu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MonStock</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceACreer.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HSPieceName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreatedPieceNb</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceACreer.Code_Article__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>codeArticleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PieceACreer.Correctif__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetTicket.Correctif__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateHSPiece</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContentDocumentLink</name>
        <label>AssignContentDocumentLink</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PieceToLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Photos_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLink.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLink.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Photos_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignMonStock</name>
        <label>AssignMonStock</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>MonStock</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Lieu__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InitScreenValue</name>
        <label>InitScreenValue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>MyStockSelectedPiece</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>codeArticleId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>codeArticleName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>D_claration_Pi_ce</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_A</name>
        <choiceText>HS D’ORIGINE Je n’ai pas retiré de pièce, elle est dans son carton à retourner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Choix A</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_B</name>
        <choiceText>REMPLACEMENT A/A avec un équipement « HS » à renvoyer au STR, cas standard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Choix B</stringValue>
        </value>
    </choices>
    <choices>
        <name>Non</name>
        <choiceText>Non</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non</stringValue>
        </value>
    </choices>
    <choices>
        <name>Oui</name>
        <choiceText>Oui</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Oui</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Declare_An_Other_Piece</name>
        <label>Declare An Other Piece ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>UpdatePieceARetourner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Final</defaultConnectorLabel>
        <rules>
            <name>Other_Piece</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OtherPiece</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oui</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Emplty_PieceACreer</targetReference>
            </connector>
            <label>Other Piece</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsLastJobTaskCompleted</name>
        <label>IsLastJobTaskCompleted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ScreenErrorLastJobTask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Completed</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLastJobTask</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetThisJobTask</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsThisJobTaskCompleted</name>
        <label>IsThisJobTaskCompleted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Installation_de_Pi_ce</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ActualJobTaskNotCompleted</defaultConnectorLabel>
        <rules>
            <name>ActualJobTaskCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetThisJobTask</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenErrorThisJobTaskIsCompleted</targetReference>
            </connector>
            <label>ActualJobTaskCompleted</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsTicketAvailable</name>
        <label>IsTicketAvailable?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ScreenErrorTicket</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoTicket</defaultConnectorLabel>
        <rules>
            <name>Ticket</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetTicket</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetLastJobTask</targetReference>
            </connector>
            <label>Ticket</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pi_ce_install_e</name>
        <label>Pièce installée ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_CompleteThisJobTask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Aucune Pièce Installée</defaultConnectorLabel>
        <rules>
            <name>Pi_ce_install_e2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Installation2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Oui</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetMyStock</targetReference>
            </connector>
            <label>Pièce Installée</label>
        </rules>
    </decisions>
    <decisions>
        <name>Piece_HS_Selected_or_Created</name>
        <label>Piece HS Selected or Created</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Pi_ce_A_Retourner2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Piece HS Selected</defaultConnectorLabel>
        <rules>
            <name>Piece_HS_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPieceHS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Piece_to_Create</targetReference>
            </connector>
            <label>Piece HS Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhichIntervention</name>
        <label>WhichIntervention</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>GetInstalledPiece</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Remplacement AA</defaultConnectorLabel>
        <rules>
            <name>HS_Origine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HS_Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Choix A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Historique_Pi_ce_A_Retourner</targetReference>
            </connector>
            <label>HS Origine</label>
        </rules>
    </decisions>
    <description>Formulaire de fin d&apos;intervention, pour l&apos;installation de pièces.</description>
    <dynamicChoiceSets>
        <name>MyStockCollection</name>
        <collectionReference>GetMyStock</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Pi_ce_Unitaire__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>HSPieceName</name>
        <dataType>String</dataType>
        <expression>{!codeArticleName} &amp; &quot;-&quot; &amp; IF(NOT(ISBLANK({!N_S_rie_de_la_Pi_ce_HS})), {!N_S_rie_de_la_Pi_ce_HS}, {!GetTicket.Correctif__r.ID_ticket_client__c} &amp; &quot;-&quot; &amp; TEXT({!CreatedPieceNb}))</expression>
    </formulas>
    <formulas>
        <name>pillSearchLabel</name>
        <dataType>String</dataType>
        <expression>IF({!HS_Choices} = &apos;Choix A&apos;, &quot;Sélectionnez la Pièce HS d&apos;origine dans votre Stock&quot;, &quot;Sélectionnez la Pièce installée à partir de votre Stock&quot;)</expression>
    </formulas>
    <formulas>
        <name>Today2</name>
        <dataType>String</dataType>
        <expression>LPAD(TEXT(DAY({!$Flow.CurrentDate})), 2, &quot;0&quot;) &amp; &quot;/&quot; &amp;
LPAD(TEXT(MONTH({!$Flow.CurrentDate})), 2, &quot;0&quot;) &amp; &quot;/&quot; &amp;
TEXT(YEAR({!$Flow.CurrentDate}))</expression>
    </formulas>
    <interviewLabel>IL - [MNT] Formulaire Installation Pièce {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IL - [MNT] Formulaire Installation Pièce</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetMyStock</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignMonStock</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>D_claration_Pi_ce</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Photos_Loop</name>
        <label>Photos_Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>ContentDocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignContentDocumentLink</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Declare_An_Other_Piece</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateContentDocumentLink</name>
        <label>CreateContentDocumentLink</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CreatePieceHistory</targetReference>
        </connector>
        <inputReference>ContentDocumentLinks</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateHSPiece</name>
        <label>CreateHSPiece</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Historique_Created_Piece</targetReference>
        </connector>
        <inputReference>PieceACreer</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreatePieceHistory</name>
        <label>CreatePieceHistory</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CompleteThisJobTask</targetReference>
        </connector>
        <inputReference>HistoriquesPieces</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetInstalledPiece</name>
        <label>GetInstalledPiece</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Historique_Pi_ce_Installee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MyStockSelectedPiece</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pi_ce_Unitaire__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLastJobTask</name>
        <label>GetLastJobTask</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsLastJobTaskCompleted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sitetracker__Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetTicket.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fin des opérations complémentaires</stringValue>
            </value>
        </filters>
        <filters>
            <field>sitetracker__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sitetracker__Job_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMyStock</name>
        <label>GetMyStock</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Mes_Pi_ces__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pi_ce_Unitaire__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPieceHS</name>
        <label>GetPieceHS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Piece_HS_Selected_or_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HSPieceName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pi_ce_Unitaire__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetThisJobTask</name>
        <label>GetThisJobTask</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsThisJobTaskCompleted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sitetracker__Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetTicket.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Installation d&apos;une pièce</stringValue>
            </value>
        </filters>
        <filters>
            <field>sitetracker__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sitetracker__Job_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetThisJobTaskNotCompleted</name>
        <label>GetThisJobTaskNotCompleted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pi_ce_install_e</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sitetracker__Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetTicket.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Installation d&apos;une pièce</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sitetracker__Job_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTicket</name>
        <label>GetTicket</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsTicketAvailable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sitetracker__Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>CompleteThisJobTask</name>
        <label>CompleteThisJobTask</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ScreenCompletedJobTask</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_ScreenErrorCompletedJobTask</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetThisJobTaskNotCompleted.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Validated_From_Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sitetracker__Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>sitetracker__Job_Task__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_CompleteThisJobTask</name>
        <label>Copy 1 of CompleteThisJobTask</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ScreenFinishOk</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ScreenErrorCompletedJobTask</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetThisJobTaskNotCompleted.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Validated_From_Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sitetracker__Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>sitetracker__Job_Task__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateInstalledPiece</name>
        <label>UpdateInstalledPiece</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CreateContentDocumentLink</targetReference>
        </connector>
        <inputReference>PiecesInstallee</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePieceARetourner</name>
        <label>UpdatePieceARetourner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UpdateInstalledPiece</targetReference>
        </connector>
        <inputReference>PiecesARetourner</inputReference>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_ScreenErrorCompletedJobTask</name>
        <label>Copy 1 of ScreenErrorCompletedJobTask</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_2_of_errorLastJobTask_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(208, 0, 0);&quot;&gt;Erreur lors de la finalisation de la tâche, veuillez contacter votre administrateur !&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>D_claration_Pi_ce</name>
        <label>Déclaration Pièce</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>WhichIntervention</targetReference>
        </connector>
        <fields>
            <name>HS_Choices</name>
            <choiceReferences>Choice_B</choiceReferences>
            <choiceReferences>Choice_A</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Choice_B</defaultSelectedChoiceReference>
            <fieldText>Quel cas avez-vous rencontré ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Info_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(15, 0, 76);&quot;&gt;Renseignez les informations suivantes&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>HS_Choices</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DSP1</name>
            <fieldText>&lt;p&gt;Sélectionnez la Pièce HS d&apos;origine dans votre Stock&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>HS_Choices</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Choix A</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DSP2</name>
            <fieldText>&lt;p&gt;Sélectionnez la Pièce installée à partir de votre Stock&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>HS_Choices</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Choix B</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MyStockPiece</name>
            <extensionName>c:pillSearch</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectType</name>
                <value>
                    <stringValue>Pi_ce_Unitaire__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchFields</name>
                <value>
                    <stringValue>Name, Cl_quipement__c, Mn_monique__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Rechercher une pièce dans mon stock ...</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelFormat</name>
                <value>
                    <stringValue>{Name}-{Cl_quipement__c}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sublabelFormat</name>
                <value>
                    <stringValue>{Mn_monique__c}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>utility:setup</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sublabelField</name>
                <value>
                    <stringValue>Mn_monique__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterClause</name>
                <value>
                    <stringValue>Statut__c = &apos;En Stock&apos; AND Mes_Pi_ces__c = true</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>MyStockSelectedPiece</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>CodeArticleSearch</name>
            <extensionName>c:pillSearch</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectType</name>
                <value>
                    <stringValue>Articles__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>utility:cart</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Sélectionnez le Code Article de l&apos;équipement HS</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Rechercher un Code Article...</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sublabelField</name>
                <value>
                    <stringValue>Mnemonique__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchFields</name>
                <value>
                    <stringValue>Name, Mnemonique__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>codeArticleId</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>codeArticleName</assignToReference>
                <name>selectedRecordName</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>HS_Choices</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Choix B</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>D_claration_Pi_ce_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>D_claration_Pi_ce_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>N_S_rie_Illisible</name>
                    <choiceReferences>Oui</choiceReferences>
                    <choiceReferences>Non</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Non</defaultSelectedChoiceReference>
                    <fieldText>N° Série Illisible</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>N_S_rie_de_la_Pi_ce_HS</leftValueReference>
                            <operator>EqualTo</operator>
                        </conditions>
                        <conditions>
                            <leftValueReference>HS_Choices</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Choix B</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>D_claration_Pi_ce_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>N_S_rie_de_la_Pi_ce_HS</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>scanValue</elementReference>
                    </defaultValue>
                    <fieldText>N° Série de la Pièce HS</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>HS_Choices</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Choix B</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>N_S_rie_Illisible</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Oui</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>D_claration_Pi_ce_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScanButton</name>
                    <extensionName>c:barcodeScannerButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>instructionText</name>
                        <value>
                            <stringValue>Scannez le N° Série</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <stringValue>Scanner le N° Série</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>successText</name>
                        <value>
                            <stringValue>N° Série scanné avec succès!</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>scanValue</assignToReference>
                        <name>scannedValue</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>N_S_rie_Illisible</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Oui</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>HS_Choices</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Choix B</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Upload_Photos</name>
            <extensionName>c:fileUploadImproved</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_required</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowMultiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowMultiple</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Ajouter une photos du N° Série</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>Prenez une photos du N° Série</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>utility:photo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>renderFilesBelow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_renderFilesBelow</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>visibleToAllUsers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_visibleToAllUsers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ContentDocumentIds</assignToReference>
                <name>contentDocumentIds</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>HS_Choices</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Choix B</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Panne_Constat_e</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>v_Blank</elementReference>
            </defaultValue>
            <fieldText>Panne Constatée sur l&apos;équipement</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>HS_Choices</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>OtherPiece</name>
            <choiceReferences>Oui</choiceReferences>
            <choiceReferences>Non</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Oui</defaultSelectedChoiceReference>
            <fieldText>Avez-vous une autre pièce à déclarer ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Installation_de_Pi_ce</name>
        <label>Installation de Pièce ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetThisJobTaskNotCompleted</targetReference>
        </connector>
        <fields>
            <name>Cloture_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(11, 0, 83);&quot;&gt;Clôture d&apos;intervention : Logistique&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 109, 42);&quot;&gt;&lt;em&gt;Pensez à valider la récupération des pièces dans votre Stock, avant de commencer&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;color: rgb(255, 109, 42);&quot;&gt; !&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>N_Ticket</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetTicket.Correctif__r.ID_ticket_client__c</elementReference>
            </defaultValue>
            <fieldText>N° Ticket</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>G2R</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetTicket.Correctif__r.Site__r.Code_site__c</elementReference>
            </defaultValue>
            <fieldText>G2R</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Installation2</name>
            <choiceReferences>Oui</choiceReferences>
            <choiceReferences>Non</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Avez-vous essayé d’installer une/des pièces sur ce site ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenCompletedJobTask</name>
        <label>ScreenCompletedJobTask</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_Copy_2_of_errorLastJobTask_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(20, 0, 98);&quot;&gt;Le formulaire a été enregistré avec succès, vous pouvez clôturer votre intervention.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenErrorCompletedJobTask</name>
        <label>ScreenErrorCompletedJobTask</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_errorLastJobTask_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(208, 0, 0);&quot;&gt;Erreur lors de la finalisation de la tâche, veuillez contacter votre administrateur !&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenErrorLastJobTask</name>
        <label>ScreenErrorLastJobTask</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorLastJobTask_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(208, 0, 0);&quot;&gt;Vous devez finaliser les autres étapes du formulaire, avant de compléter la partie logistique !&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenErrorThisJobTaskIsCompleted</name>
        <label>ScreenErrorThisJobTaskIsCompleted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_errorTicket_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(208, 0, 0);&quot;&gt;Cette partie du formulaire a déjà été complétée.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(208, 0, 0);&quot;&gt;Vous pouvez clôturer votre intervention !&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenErrorTicket</name>
        <label>ScreenErrorTicket</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorTicket_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(208, 0, 0);&quot;&gt;Aucun Ticket n&apos;a été trouvé, veuillez contacter Cockpit !&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenFinishOk</name>
        <label>ScreenFinishOk</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_errorTicket_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 7, 96);&quot;&gt;Vous pouvez retourner dans votre intervention et la clôturer.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 7, 96);&quot;&gt;Merci !&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetTicket</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>RemarquePUARetourner</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Pièce déclarée HS N°Ticket : [{!GetTicket.Correctif__r.ID_ticket_client__c}] Code Site :[{!GetTicket.Correctif__r.Site__r.Code_site__c}] le [{!Today2}]</text>
    </textTemplates>
    <textTemplates>
        <name>RemarquePUInstallee</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Du [{!GetInstalledPiece.Lieu__r.Name}] vers INSTALLE N°Ticket : [{!GetTicket.Correctif__r.ID_ticket_client__c}] Code Site :[{!GetTicket.Correctif__r.Site__r.Code_site__c}] le [{!Today2}]</text>
    </textTemplates>
    <textTemplates>
        <name>TramePUInstallee</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>DU {!GetInstalledPiece.Lieu__r.Name} VERS INSTALLE LE {!Today2} {!GetTicket.Correctif__r.ID_ticket_client__c}{!GetTicket.Correctif__r.Site__r.Code_site__c}</text>
    </textTemplates>
    <variables>
        <name>codeArticleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>codeArticleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>CreatedPieceNb</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Get_1_Piece</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pi_ce_Unitaire__c</objectType>
    </variables>
    <variables>
        <name>EmptyHistory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Historique_Pi_ces__c</objectType>
    </variables>
    <variables>
        <name>EmptyPiece</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pi_ce_Unitaire__c</objectType>
    </variables>
    <variables>
        <name>HistoriquePiece</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Historique_Pi_ces__c</objectType>
    </variables>
    <variables>
        <name>HistoriquesPieces</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Historique_Pi_ces__c</objectType>
    </variables>
    <variables>
        <name>IsPiecesOnSite</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MonStock</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MyStockSelectedPiece</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PieceACreer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pi_ce_Unitaire__c</objectType>
    </variables>
    <variables>
        <name>PieceARetourner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pi_ce_Unitaire__c</objectType>
    </variables>
    <variables>
        <name>PieceInstallee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pi_ce_Unitaire__c</objectType>
    </variables>
    <variables>
        <name>PiecesACreer</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pi_ce_Unitaire__c</objectType>
    </variables>
    <variables>
        <name>PiecesARetourner</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pi_ce_Unitaire__c</objectType>
    </variables>
    <variables>
        <name>PiecesInstallee</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pi_ce_Unitaire__c</objectType>
    </variables>
    <variables>
        <name>piecesOnSite</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pi_ce_Unitaire__c</objectType>
    </variables>
    <variables>
        <name>PieceToLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scanValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Blank</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_CodeArticle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_HS_Choices</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_HSPieceFromSite</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_InstalledPieceOnSite</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_Non</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Non</stringValue>
        </value>
    </variables>
    <variables>
        <name>v_Oui</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Oui</stringValue>
        </value>
    </variables>
    <variables>
        <name>v_PieceHSOrigine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_True</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
