force-app/main/default/flows/IL_MNT_Cr_ation_d_un_envoi_de_pi_ce.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <decisions>
        <name>IsSaved</name>
        <label>IsSaved?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isSaveComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Création d&apos;un envoi de pièce unitaire logistique</description>
    <environments>Default</environments>
    <interviewLabel>IL - [MNT] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IL - [MNT] Création d&apos;un envoi de pièce</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Cr_ation_d_un_Envoi</name>
        <label>Création d&apos;un Envoi</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IsSaved</targetReference>
        </connector>
        <fields>
            <name>Cr_ation_d_un_Envoi_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Cr_ation_d_un_Envoi_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Cr_ation_d_un_Envoi_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Cr_ation_d_un_Envoi_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>flowZLauncher</name>
                    <extensionName>joshdaymentlabs:flowLauncher</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>flowToLaunch</name>
                        <value>
                            <stringValue>IL_MNT_Cr_ation_d_une_adresse_de_livraison</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showFlowInModal</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_showFlowInModal</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>modalSize</name>
                        <value>
                            <stringValue>large</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <stringValue>Créer une Adresse de Livraison</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttonVariant</name>
                        <value>
                            <stringValue>neutral</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconPosition</name>
                        <value>
                            <stringValue>Right</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Create_Envoi</name>
            <extensionName>c:mntGestionEnvoiLogistique</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>techMode</name>
                <value>
                    <elementReference>TechMode</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isSaveComplete</assignToReference>
                <name>isSaveComplete</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Annuler</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cr_ation_d_un_Envoi</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>isSaveComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TechMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
