force-app/main/default/flows/IL_MNT_MAJ_Infos_Techniciens.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Error</name>
        <label>Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Les modifications n&apos;ont pas été enregistrées suite à une erreur, veuillez réessayer.</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Succ_s</name>
        <label>Succès</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Les modifications ont été enregistrées avec succès</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>AssignAddedSite</name>
        <label>AssignAddedSite</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SiteToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StockAddLoop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SiteToUpdate.Liste_Logisticiens__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddUserName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SitesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SiteToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StockAddLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDeletedSite</name>
        <label>AssignDeletedSite</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SiteToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StockDeleteLoop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SiteToUpdate.Liste_Logisticiens__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeleteUserName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SitesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SiteToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StockDeleteLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignUserValues</name>
        <label>AssignUserValues</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUser.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>STRId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUser.STR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompteProjetLogistique</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUser.Compte_Projet_Logistique__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUser.Adresse_de_Livraison_Pr_f_r_e__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ZoneList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUser.Decoupage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oldRecordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetUser.Responsable_des_Stock__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MainScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CleanStocks</name>
        <label>CleanStocks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>stockAjoutes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedRecordIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stockAjoutes</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>oldRecordIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stockSupprimes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oldRecordIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stockSupprimes</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>selectedRecordIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StockAddLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsAddesSiteFound</name>
        <label>IsAddesSiteFound</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>StockAddLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotFound</defaultConnectorLabel>
        <rules>
            <name>SiteFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAddedSites</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAddedSite</targetReference>
            </connector>
            <label>SiteFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsDeletedSiteFound</name>
        <label>IsDeletedSiteFound</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>StockDeleteLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotFound</defaultConnectorLabel>
        <rules>
            <name>SiteFound2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDeletedSites</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignDeletedSite</targetReference>
            </connector>
            <label>SiteFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>isRecordId</name>
        <label>isRecordId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>MainScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No RecordId</defaultConnectorLabel>
        <rules>
            <name>recordId2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetUser</targetReference>
            </connector>
            <label>recordId</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Decoupage</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Decoupage__c</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>STR2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>STR__c</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AddUserName</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!GetAddedSites.Liste_Logisticiens__c}),
 {!UserName} ,
  {!GetAddedSites.Liste_Logisticiens__c} &amp; {!UserName}
)</expression>
    </formulas>
    <formulas>
        <name>DeleteUserName</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!GetDeletedSites.Liste_Logisticiens__c}, {!UserName}, &quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>isRecordIdOK</name>
        <dataType>Boolean</dataType>
        <expression>IF({!recordId} != null,true,false)</expression>
    </formulas>
    <interviewLabel>IL - [MNT] MAJ Infos Techniciens {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IL - [MNT] MAJ Infos Techniciens</label>
    <loops>
        <name>StockAddLoop</name>
        <label>StockAddLoop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>stockAjoutes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetAddedSites</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>StockDeleteLoop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>StockDeleteLoop</name>
        <label>StockDeleteLoop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>stockSupprimes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetDeletedSites</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateSites</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAddedSites</name>
        <label>GetAddedSites</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsAddesSiteFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StockAddLoop</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sitetracker__Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDeletedSites</name>
        <label>GetDeletedSites</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsDeletedSiteFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StockDeleteLoop</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sitetracker__Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUser</name>
        <label>GetUser</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignUserValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateSites</name>
        <label>UpdateSites</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UpdateUser</targetReference>
        </connector>
        <inputReference>SitesToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateUser</name>
        <label>UpdateUser</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Succ_s</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User.selectedRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Adresse_de_Livraison_Pr_f_r_e__c</field>
            <value>
                <elementReference>Contact.selectedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Compte_Projet_Logistique__c</field>
            <value>
                <elementReference>Compte_Projet_Logistique</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decoupage__c</field>
            <value>
                <elementReference>Zones</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Responsable_des_Stock__c</field>
            <value>
                <elementReference>selectedRecordIdsCSV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>STR__c</field>
            <value>
                <elementReference>STR</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>MainScreen</name>
        <label>MainScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CleanStocks</targetReference>
        </connector>
        <fields>
            <name>MainScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>MainScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>User</name>
                    <extensionName>c:pillSearch</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>utility:user</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>sObjectType</name>
                        <value>
                            <stringValue>User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Rechercher un Utilisateur...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecordId</name>
                        <value>
                            <elementReference>UserId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Technicien</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readOnly</name>
                        <value>
                            <elementReference>isRecordIdOK</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Contact</name>
                    <extensionName>c:pillSearch</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>sObjectType</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Rechercher un Contact...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>utility:location</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecordId</name>
                        <value>
                            <elementReference>ContactId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Adresse Préférée</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Compte_Projet_Logistique</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CompteProjetLogistique</elementReference>
                    </defaultValue>
                    <fieldText>Compte Projet Logistique</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>AssociatedStock</name>
                    <extensionName>c:pillSearch</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>sObjectType</name>
                        <value>
                            <stringValue>sitetracker__Site__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>searchFields</name>
                        <value>
                            <stringValue>Name, Nom_du_site__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>sublabelField</name>
                        <value>
                            <stringValue>Nom_du_site__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>sublabelFormat</name>
                        <value>
                            <stringValue>{Nom_du_site__c}</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Sélectionner les stock...</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiSelect</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Stock dont l&apos;utilisateur est responsable</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecordIdsCSV</name>
                        <value>
                            <elementReference>GetUser.Responsable_des_Stock__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>oldRecordIds</assignToReference>
                        <name>oldRecordIds</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>selectedRecordIds</assignToReference>
                        <name>selectedRecordIds</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>selectedRecordIdsCSV</assignToReference>
                        <name>selectedRecordIdsCSV</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MainScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>STR</name>
                    <choiceReferences>STR2</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>STRId</elementReference>
                    </defaultValue>
                    <fieldText>STR</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Zones</name>
                    <choiceReferences>Decoupage</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ZoneList</elementReference>
                    </defaultValue>
                    <fieldText>Zones</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Enregistrer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isRecordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>UserName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!GetUser.FirstName} {!GetUser.LastName},</text>
    </textTemplates>
    <variables>
        <name>CompteProjetLogistique</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oldRecordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedRecordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedRecordIdsCSV</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SitesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sitetracker__Site__c</objectType>
    </variables>
    <variables>
        <name>SiteToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sitetracker__Site__c</objectType>
    </variables>
    <variables>
        <name>stockAjoutes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stockSupprimes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>STRId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ZoneList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
