force-app/main/default/flows/IL_RAN_PROMA_Cr_ation_Projet_SFR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_Project_Values</name>
        <label>Assign Project Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Project.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012Jv000002f511IAA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.sitetracker__Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RAN.Site__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.sitetracker__ProjectTemplate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a0hJv000008YIkHIAW</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SFR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SFR_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RAN_Values</name>
        <label>Assign RAN Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RAN.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RAN.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RAN.OP_Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_RAN</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_RAN_has_Project</name>
        <label>Check RAN has Project</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Project_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t Has Project</defaultConnectorLabel>
        <rules>
            <name>Has_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RAN.OP_Client__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Project_Error_Message</targetReference>
            </connector>
            <label>Has Project</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkSingleRecord</name>
        <label>checkSingleRecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>RecordId_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>hasSingleRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RAN</targetReference>
            </connector>
            <label>hasSingleRecord</label>
        </rules>
    </decisions>
    <description>Création d&apos;un projet SFR à partir d&apos;un RAN sur contrat de maintenance PROMA</description>
    <environments>Default</environments>
    <interviewLabel>IL - RAN PROMA - Création Projet SFR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IL - RAN PROMA - Création Projet SFR</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_SFR_Project</name>
        <label>Create SFR Project</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_RAN_Values</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Project_Creation_Error_Message</targetReference>
        </faultConnector>
        <inputReference>Project</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_RAN</name>
        <label>Get RAN</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_RAN_has_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RAN__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_RAN</name>
        <label>Update RAN</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Project_Creation_Error_Message</targetReference>
        </faultConnector>
        <inputReference>RAN</inputReference>
    </recordUpdates>
    <screens>
        <name>Project_Creation_Error_Message</name>
        <label>Project Creation Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Project_create_error_message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(176, 0, 0); font-size: 14px;&quot;&gt;Erreur !&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Désolé, le projet n&apos;a pas pu être créé, veuillez contacter votre administrateur SiteTracker.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Merci.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Terminer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Project_Error_Message</name>
        <label>Project Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Project_message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(176, 0, 0); font-size: 14px;&quot;&gt;Erreur !&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Le RAN est déjà associé à un projet.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Vous ne pouvez pas en créer un nouveau.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Merci.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Terminer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RecordId_Error_Message</name>
        <label>Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RecordId_message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(176, 0, 0);&quot;&gt;Erreur !&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Vous n&apos;avez pas les droits d&apos;accès, veuillez contacter un administrateur SiteTracker.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Merci.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Terminer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_text_message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 89, 15);&quot;&gt;Succès !&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Le Projet a été créé avec succès.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Bonne journée.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Terminer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkSingleRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Project</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sitetracker__Project__c</objectType>
    </variables>
    <variables>
        <name>RAN</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RAN__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
