force-app/main/default/flows/IL_SFR_Envoi_CR_Gamme_OP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_CR</name>
        <label>Send CR</label>
        <locationX>446</locationX>
        <locationY>2714</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>UpdateGammeOPS</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Erreur_envoi_du_CR</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>RecipientAddressList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
            <value>
                <elementReference>CCRecipientAddressList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>automate.salesforce@circet.fr</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Bonjour,&lt;/p&gt;&lt;p&gt;Voici le CRI du&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; site {!G2R} :&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!GammeOPTable}&lt;/p&gt;&lt;p&gt;Bonne journée.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!EmailFooter}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
        </inputParameters>
        <inputParameters>
            <name>attachmentIdCollection</name>
            <value>
                <elementReference>VersionIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>AddAlreadySendGammeOP</name>
        <label>AddAlreadySendGammeOP</label>
        <locationX>2668</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>GammeOPS_Not_Send</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Founded_Gamme_OP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GammeOPTableNotSent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TableRow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NbNotSentGammeOP</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Founded_Gamme_OP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddDateCR</name>
        <label>AddDateCR</label>
        <locationX>1744</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>For_Each_Founded_Gamme_OP.Date_d_envoi_CR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GammeOPS_Send</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Founded_Gamme_OP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Statut_Fin_Op_ration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddGammeOPValues</name>
        <label>AddGammeOPValues</label>
        <locationX>2206</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Site</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Founded_Gamme_OP.Site__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Constructeur</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Founded_Gamme_OP.FOR_Constructeur__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>G2R</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Founded_Gamme_OP.Site__r.Code_site__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AgenceCIRCET</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Founded_Gamme_OP.Project__r.Agence_Circet__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SiteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Founded_Gamme_OP.Site__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Gamme_OP_Already_Sent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddTableLine</name>
        <label>AddTableLine</label>
        <locationX>1744</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>GammeOPTable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TableRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddDateCR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDocumentIds</name>
        <label>AssignDocumentIds</label>
        <locationX>534</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>DocumentIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AttachedLoop.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VersionIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AttachedLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AttachedLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Abandonne</name>
        <label>Assignment Abandonne</label>
        <locationX>1876</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>CountAbandonne</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Founded_Gamme_OP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Abandonne_Jour_J</name>
        <label>Assignment Abandonne Jour J</label>
        <locationX>1612</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>CountAbandonneJ</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Founded_Gamme_OP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Echec</name>
        <label>Assignment Echec</label>
        <locationX>2140</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>CountEchec</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Founded_Gamme_OP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Inconnu</name>
        <label>Assignment Inconnu</label>
        <locationX>2404</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>CountInconnu</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Founded_Gamme_OP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Succes</name>
        <label>Assignment Succes</label>
        <locationX>1084</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>CountSucces</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Founded_Gamme_OP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Succes_Reserve</name>
        <label>Assignment Succes Reserve</label>
        <locationX>1348</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>CountSuccesReserves</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Founded_Gamme_OP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRecipient</name>
        <label>AssignRecipient</label>
        <locationX>50</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>RecipientAddressList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecipientListNOKIA.Recipient_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CCRecipientAddressList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecipientListNOKIA.CC_Recipient_Address__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attachment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRecipientHUAWEI</name>
        <label>AssignRecipientHUAWEI</label>
        <locationX>314</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>RecipientAddressList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecipientListHUAWEI.Recipient_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CCRecipientAddressList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecipientListHUAWEI.CC_Recipient_Address__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attachment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRecipientTRANS</name>
        <label>AssignRecipientTRANS</label>
        <locationX>578</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>RecipientAddressList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecipientListTrans.Recipient_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CCRecipientAddressList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecipientListTrans.CC_Recipient_Address__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attachment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CloseGammeOPTable</name>
        <label>CloseGammeOPTable</label>
        <locationX>446</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>GammeOPTable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GammeOPTableNotSent</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Pole_Constructeur</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Founded_Gamme_OP</name>
        <label>Check Founded Gamme OP</label>
        <locationX>1403</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Erreur_Gamme_OP_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Gamme OP Not Found</defaultConnectorLabel>
        <rules>
            <name>Gamme_OP_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Selected_Gamme_OPs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Each_Founded_Gamme_OP</targetReference>
            </connector>
            <label>Gamme OP Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Statut_Fin_Op_ration</name>
        <label>Check Statut Fin Opération</label>
        <locationX>1744</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Assignment_Inconnu</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inconnu</defaultConnectorLabel>
        <rules>
            <name>Succes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Founded_Gamme_OP.Statut_fin_d_op_ration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Succès</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Succes</targetReference>
            </connector>
            <label>Succes</label>
        </rules>
        <rules>
            <name>Succes_Reserve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Founded_Gamme_OP.Statut_fin_d_op_ration__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>réserve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Succes_Reserve</targetReference>
            </connector>
            <label>Succes Reserve</label>
        </rules>
        <rules>
            <name>Abandonne_J</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Founded_Gamme_OP.Statut_fin_d_op_ration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Abandonné jour J</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Abandonne_Jour_J</targetReference>
            </connector>
            <label>Abandonne Jour J</label>
        </rules>
        <rules>
            <name>Abandonne</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Founded_Gamme_OP.Statut_fin_d_op_ration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Abandonné</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Abandonne</targetReference>
            </connector>
            <label>Abandonne</label>
        </rules>
        <rules>
            <name>Echec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Founded_Gamme_OP.Statut_fin_d_op_ration__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Echec</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Echec</targetReference>
            </connector>
            <label>Echec</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Valide_Statut_Fin_Op_ration</name>
        <label>Check Valide Statut Fin Opération</label>
        <locationX>996</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>Erreur_envoi_du_CR_Statut_Fin_d_Op_ration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Valide</defaultConnectorLabel>
        <rules>
            <name>Valide</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StatutFinOperation</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Inconnu</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountInconnu</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CloseGammeOPTable</targetReference>
            </connector>
            <label>Valide</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkSingleRecord</name>
        <label>checkSingleRecord</label>
        <locationX>1738</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Right_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>hasSingleRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.OPRangeLineCreation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selected_Gamme_OPs</targetReference>
            </connector>
            <label>hasSingleRecord</label>
        </rules>
    </decisions>
    <decisions>
        <name>Gamme_OP_Already_Sent</name>
        <label>Gamme OP Already Sent ?</label>
        <locationX>2206</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>AddAlreadySendGammeOP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sent</defaultConnectorLabel>
        <rules>
            <name>Not_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Founded_Gamme_OP.Date_d_envoi_CR__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddTableLine</targetReference>
            </connector>
            <label>Not Sent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Pole_Constructeur</name>
        <label>Which Pole &amp; Constructeur</label>
        <locationX>446</locationX>
        <locationY>1682</locationY>
        <defaultConnector>
            <targetReference>Attachment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOK</defaultConnectorLabel>
        <rules>
            <name>Radio_NOKIA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Founded_Gamme_OP.P_le__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Radio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Constructeur</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NOKIA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecipientListNOKIA</targetReference>
            </connector>
            <label>Radio NOKIA</label>
        </rules>
        <rules>
            <name>Radio_HUAWEI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Founded_Gamme_OP.P_le__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Radio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Constructeur</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Huawei</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecipientListHUAWEI</targetReference>
            </connector>
            <label>Radio HUAWEI</label>
        </rules>
        <rules>
            <name>Trans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Founded_Gamme_OP.P_le__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trans</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecipientListTrans</targetReference>
            </connector>
            <label>Trans</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Agence_Formula</name>
        <dataType>String</dataType>
        <expression>RIGHT({!AgenceCIRCET}, LEN({!AgenceCIRCET}) - 7)</expression>
    </formulas>
    <formulas>
        <name>InterventionDate</name>
        <dataType>String</dataType>
        <expression>LPAD(TEXT(DAY({!For_Each_Founded_Gamme_OP.DATE__c})), 2, &quot;0&quot;) 
&amp; &quot;/&quot; &amp; 
LPAD(TEXT(MONTH({!For_Each_Founded_Gamme_OP.DATE__c})), 2, &quot;0&quot;) 
&amp; &quot;/&quot; &amp; 
TEXT(YEAR({!For_Each_Founded_Gamme_OP.DATE__c}))</expression>
    </formulas>
    <formulas>
        <name>Not_Sent_GammeOP</name>
        <dataType>String</dataType>
        <expression>IF(
 {!NbNotSentGammeOP} = 0,
  &quot;&quot;,
  BR() &amp; &quot;Les Gamme OP suivantes ont déjà été envoyées précédemment :&quot; &amp; BR() &amp; {!GammeOPTableNotSent} &amp; BR()
)</expression>
    </formulas>
    <formulas>
        <name>NowMinus1Min</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - (1 / 1440)</expression>
    </formulas>
    <formulas>
        <name>StatutFinOperation</name>
        <dataType>String</dataType>
        <expression>IF(
  OR(
    ISBLANK({!CountTotal}),
    {!CountTotal} = 0,
    ({!CountSucces}+{!CountSuccesReserves}+{!CountAbandonneJ}+{!CountAbandonne}+{!CountEchec}+{!CountInconnu}+{!CountDejaACible}) &lt;&gt; {!CountTotal}
  ),
  &quot;Inconnu&quot;,
  IF(
    {!CountInconnu} &gt; 0,
    &quot;Inconnu&quot;,
    IF(
      {!CountSucces} = {!CountTotal},
      &quot;Succès&quot;,
      IF(
        {!CountSuccesReserves} = {!CountTotal},
        &quot;Succès avec Réserves&quot;,
        IF(
          {!CountDejaACible} = {!CountTotal},
          &quot;Déjà à cible&quot;,
          IF(
            {!CountAbandonneJ} = {!CountTotal},
            &quot;Abandonné jour J&quot;,
            IF(
              {!CountAbandonne} = {!CountTotal},
              &quot;Abandonné&quot;,
              IF(
                {!CountEchec} = {!CountTotal},
                &quot;Échec&quot;,
                IF(
                  {!CountSucces} &gt; 0,
                  &quot;Succès avec Réserves&quot;,
                  &quot;Inconnu&quot;
                )
              )
            )
          )
        )
      )
    )
  )
)</expression>
    </formulas>
    <formulas>
        <name>TablesFormula</name>
        <dataType>String</dataType>
        <expression>IF( {!CountTotal} &gt; 0, {!GammeOPTable} &amp; BR(), &quot;&quot;) &amp;
IF({!NbNotSentGammeOP} &gt; 0, {!Not_Sent_GammeOP}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>String</dataType>
        <expression>LPAD(TEXT(DAY($Flow.CurrentDate)), 2, &quot;0&quot;) &amp; &quot;/&quot; &amp;
LPAD(TEXT(MONTH($Flow.CurrentDate)), 2, &quot;0&quot;) &amp; &quot;/&quot; &amp;
TEXT(YEAR($Flow.CurrentDate))</expression>
    </formulas>
    <interviewLabel>IL - [SFR] Envoi CR Gamme OP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IL - [SFR] Envoi CR Gamme OP</label>
    <loops>
        <name>AttachedLoop</name>
        <label>AttachedLoop</label>
        <locationX>446</locationX>
        <locationY>2306</locationY>
        <collectionReference>GetAttachedIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignDocumentIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AttachmentDatatable</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Founded_Gamme_OP</name>
        <label>For Each Founded Gamme OP</label>
        <locationX>996</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Selected_Gamme_OPs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddGammeOPValues</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Valide_Statut_Fin_Op_ration</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Selected_Gamme_OPs</name>
        <label>Get Selected Gamme OPs</label>
        <locationX>1403</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Founded_Gamme_OP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Gamme_OP__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAttachedIds</name>
        <label>GetAttachedIds</label>
        <locationX>446</locationX>
        <locationY>2198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AttachedLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>NowMinus1Min</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstPublishLocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SiteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentVersion</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecipientListHUAWEI</name>
        <label>GetRecipientListHUAWEI</label>
        <locationX>314</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignRecipientHUAWEI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Liste Diffusion CR Gamme OP Radio Huawei</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Agence_Formula</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecipientListNOKIA</name>
        <label>GetRecipientListNOKIA</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignRecipient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Liste Diffusion CR Gamme OP Radio NOKIA</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Agence_Formula</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecipientListTrans</name>
        <label>GetRecipientListTrans</label>
        <locationX>578</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignRecipientTRANS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Liste Diffusion CR Gamme OP Trans</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Agence_Formula</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>RollBackUpdate</name>
        <label>RollBackUpdate</label>
        <locationX>1018</locationX>
        <locationY>2930</locationY>
        <connector>
            <targetReference>Erreur_Mise_jour_Gamme_OP</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>UpdateGammeOPS</name>
        <label>UpdateGammeOPS</label>
        <locationX>446</locationX>
        <locationY>2822</locationY>
        <connector>
            <targetReference>Envoi_Succ_s_CR</targetReference>
        </connector>
        <faultConnector>
            <targetReference>RollBackUpdate</targetReference>
        </faultConnector>
        <inputReference>GammeOPS_Send</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Attachment</name>
        <label>Attachment</label>
        <locationX>446</locationX>
        <locationY>2090</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetAttachedIds</targetReference>
        </connector>
        <fields>
            <name>TextHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(1, 6, 128);&quot;&gt;Ajout de pièces jointes &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(1, 6, 128);&quot;&gt;&lt;u&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/u&gt;&lt;/strong&gt;&lt;strong style=&quot;color: rgb(1, 6, 128);&quot;&gt;:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AttachedFiles</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Pièces Jointes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>DocumentIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentVersionIds</name>
                <value>
                    <elementReference>VersionIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>SiteId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>FileNames</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg,  .pdf, .xls, .xlsx, .csv, .png</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AttachmentDatatable</name>
        <label>AttachmentDatatable</label>
        <locationX>446</locationX>
        <locationY>2606</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_CR</targetReference>
        </connector>
        <fields>
            <name>question</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Recap</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(1, 6, 128); background-color: rgb(255, 255, 255);&quot;&gt;Synthèse du CR avant envoi &lt;/strong&gt;&lt;strong style=&quot;color: rgb(1, 6, 128); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;&lt;u&gt;﻿&lt;/u&gt;&lt;/strong&gt;&lt;strong style=&quot;color: rgb(1, 6, 128); background-color: rgb(255, 255, 255);&quot;&gt;:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Voulez-vous vraiment envoyer ce CR ?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!TablesFormula}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Attachements2</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContentVersion</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Pièces Jointes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetAttachedIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-bae6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Nom&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FileType&quot;,&quot;guid&quot;:&quot;column-320a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;File Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-e096&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Date de Création&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VersionIds</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ExitFLow</name>
            <extensionName>c:flowExitRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Quitter</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>sitetracker__Site__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>SiteId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigateUrl</name>
                <value>
                    <stringValue>https://sitetracker-circet--testgammop.sandbox.lightning.force.com/lightning/r/sitetracker__Site__c/{!SiteId}/view</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Confirmer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Envoi_Succ_s_CR</name>
        <label>Envoi Succès CR</label>
        <locationX>446</locationX>
        <locationY>2930</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_UpdateErrorMessage</name>
            <fieldText>&lt;p&gt;Le CR a été envoyé avec succès.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!TablesFormula}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Merci.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AttachementList</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContentVersion</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Pièces Jointes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetAttachedIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-b396&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Nom&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FileType&quot;,&quot;guid&quot;:&quot;column-8b80&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;File Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-e2a6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Date de Création&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VersionIds</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Terminer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Erreur_envoi_du_CR</name>
        <label>Erreur envoi du CR</label>
        <locationX>1282</locationX>
        <locationY>2822</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_UpdateErrorMessage</name>
            <fieldText>&lt;p&gt;Le CR n&apos;a pas pû être envoyé.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!TablesFormula}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Veuillez réessayer ultérieurement.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Merci.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Terminer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Erreur_envoi_du_CR_Statut_Fin_d_Op_ration</name>
        <label>Erreur envoi du CR : Statut Fin d&apos;Opération</label>
        <locationX>1546</locationX>
        <locationY>1574</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConditionnalText1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;L&apos;un des Statut Fin d&apos;Opération n&apos;est pas valide.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CountInconnu</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>StatutFinErrorMessage</name>
            <fieldText>&lt;p&gt;Le CR n&apos;a pas pû être envoyé.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Veuillez vérifier les informations des Gamme OP sélectionnées avant de réessayer.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!TablesFormula}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Merci.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Terminer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Erreur_Gamme_OP_Not_Found</name>
        <label>Erreur Gamme OP Not Found</label>
        <locationX>1810</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message_Gamme_OP_Not_Found</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(176, 0, 0);&quot;&gt;Erreur !&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Aucun Gamme OP trouvé, veuillez sélectionner seulement les Gamme OP qui n&apos;ont pas encore été envoyés.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Merci.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Terminer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Erreur_Mise_jour_Gamme_OP</name>
        <label>Erreur Mise à jour Gamme OP</label>
        <locationX>1018</locationX>
        <locationY>3038</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>UpdateErrorMessage</name>
            <fieldText>&lt;p&gt;La mise à jour n&apos;a pas pû être réalisée.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Veuillez réessayer ultérieurement.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Merci.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Terminer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Right_Error_Screen</name>
        <label>Erreur</label>
        <locationX>2074</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(176, 0, 0);&quot;&gt;Erreur !&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Vous n&apos;avez pas les droits d&apos;accès, veuillez contacter un administrateur SiteTracker.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Merci.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Terminer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1612</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkSingleRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailFooter</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;img src=&quot;https://sitetracker-circet.my.salesforce.com/sfc/dist/version/renditionDownload?rendition=ORIGINAL_Png&amp;versionId=068Jv00000ZrQuz&amp;operationContext=DELIVERY&amp;contentId=05TJv00000jiVJC&amp;page=0&amp;d=/a/Jv00000HGG8f/anuDRZHheDGRE.23EL66TIpatyhStHdkWAOALXvQlPM&amp;oid=00DAW00000K9kiz&amp;dpt=null&amp;viewId=&quot; width=&quot;&apos;00px&quot;/&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 10px; font-family: Arial, sans-serif; color: rgb(136, 136, 136);&quot;&gt;© 2025 CIRCET France. Tous droits réservés.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[{!Agence_Formula}] - [{!Constructeur}] - {!G2R} - {!Site} - {!Today} - CR Opération : {!StatutFinOperation}</text>
    </textTemplates>
    <textTemplates>
        <name>TableRow</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;tr style=&quot;background-color: #f9f9f9; color: #000;&quot;&gt;
  &lt;td style=&quot;border:1px solid #ddd; padding:6px;&quot;&gt;{!For_Each_Founded_Gamme_OP.Project__r.Study_ID__r.Project__c}&lt;/td&gt;
  &lt;td style=&quot;border:1px solid #ddd; padding:6px;&quot;&gt;{!Agence_Formula}&lt;/td&gt;
  &lt;td style=&quot;border:1px solid #ddd; padding:6px;&quot;&gt;{!For_Each_Founded_Gamme_OP.Constructeur__c}&lt;/td&gt;
  &lt;td style=&quot;border:1px solid #ddd; padding:6px;&quot;&gt;{!For_Each_Founded_Gamme_OP.Type_d_op_ration__c}&lt;/td&gt;
  &lt;td style=&quot;border:1px solid #ddd; padding:6px;&quot;&gt;{!For_Each_Founded_Gamme_OP.Techno__c}&lt;/td&gt;
  &lt;td style=&quot;border:1px solid #ddd; padding:6px;&quot;&gt;{!InterventionDate}&lt;/td&gt;
  &lt;td style=&quot;border:1px solid #ddd; padding:6px;&quot;&gt;{!For_Each_Founded_Gamme_OP.Statut_fin_d_op_ration__c}&lt;/td&gt;
  &lt;td style=&quot;border:1px solid #ddd; padding:6px;&quot;&gt;{!For_Each_Founded_Gamme_OP.Commentaires_op_ration__c}&lt;/td&gt;
  &lt;td style=&quot;border:1px solid #ddd; padding:6px;&quot;&gt;{!For_Each_Founded_Gamme_OP.N_ticket__c}&lt;/td&gt;
  &lt;td style=&quot;border:1px solid #ddd; padding:6px;&quot;&gt;{!For_Each_Founded_Gamme_OP.Test_Quartz_Appel_fait__c}&lt;/td&gt;
  &lt;td style=&quot;border:1px solid #ddd; padding:6px;&quot;&gt;{!For_Each_Founded_Gamme_OP.Acquittements_Oc_an__c}&lt;/td&gt;
  &lt;td style=&quot;border:1px solid #ddd; padding:6px;&quot;&gt;{!For_Each_Founded_Gamme_OP.Acquittements_RRCAP__c}&lt;/td&gt;
&lt;/tr&gt;</text>
    </textTemplates>
    <variables>
        <name>AgenceCIRCET</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CCRecipientAddressList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Constructeur</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountAbandonne</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountAbandonneJ</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountDejaACible</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountEchec</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountInconnu</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountSucces</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountSuccesReserves</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>debug</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FlowAlreadyRan</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>G2R</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GammeOPS_Not_Send</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Gamme_OP__c</objectType>
    </variables>
    <variables>
        <name>GammeOPS_Send</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Gamme_OP__c</objectType>
    </variables>
    <variables>
        <name>GammeOPTable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;table style=&quot;border-collapse: collapse; width: 100%; font-family: Arial, sans-serif; font-size: 14px; text-align: left;&quot;&gt;   &lt;tr style=&quot;background-color: #0492C2; color: #ffffff;&quot;&gt;    &lt;th style=&quot;border:1px solid #ddd; padding: 6px;&quot;&gt;Lot&lt;/th&gt;     &lt;th style=&quot;border:1px solid #ddd; padding: 6px;&quot;&gt;Agence&lt;/th&gt;     &lt;th style=&quot;border:1px solid #ddd; padding: 6px;&quot;&gt;Constructeur&lt;/th&gt;     &lt;th style=&quot;border:1px solid #ddd; padding: 6px;&quot;&gt;Type d&apos;Opération&lt;/th&gt;     &lt;th style=&quot;border:1px solid #ddd; padding: 6px;&quot;&gt;Techno&lt;/th&gt;     &lt;th style=&quot;border:1px solid #ddd; padding: 6px;&quot;&gt;Date d&apos;intégration&lt;/th&gt;     &lt;th style=&quot;border:1px solid #ddd; padding: 6px;&quot;&gt;Statut fin d&apos;opération&lt;/th&gt;     &lt;th style=&quot;border:1px solid #ddd; padding: 6px;&quot;&gt;Commentaire opération et réserves&lt;/th&gt;     &lt;th style=&quot;border:1px solid #ddd; padding: 6px;&quot;&gt;N° Ticket&lt;/th&gt;     &lt;th style=&quot;border:1px solid #ddd; padding: 6px;&quot;&gt;Test Quartz&lt;/th&gt;     &lt;th style=&quot;border:1px solid #ddd; padding: 6px;&quot;&gt;Acquittement OCEAN&lt;/th&gt;     &lt;th style=&quot;border:1px solid #ddd; padding: 6px;&quot;&gt;Acquittement RRCAP&lt;/th&gt;   &lt;/tr&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>GammeOPTableNotSent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;table&gt; &lt;tr  style=&quot;background-color: #0492C2;&quot;&gt; &lt;th  style=&quot;border:1px solid;&quot;&gt;Lot&lt;/th&gt; &lt;th  style=&quot;border:1px solid;&quot;&gt;Agence&lt;/th&gt; &lt;th  style=&quot;border:1px solid;&quot;&gt;Constructeur&lt;/th&gt; &lt;th  style=&quot;border:1px solid;&quot;&gt;Type d&apos;Opération&lt;/th&gt;&lt;th  style=&quot;border:1px solid;&quot;&gt;Techno&lt;/th&gt;&lt;th  style=&quot;border:1px solid;&quot;&gt;Date d&apos;intégration&lt;/th&gt;&lt;th  style=&quot;border:1px solid;&quot;&gt;Statut fin d&apos;opération&lt;/th&gt;&lt;th  style=&quot;border:1px solid;&quot;&gt;Commentaire opération et réserves&lt;/th&gt;&lt;th  style=&quot;border:1px solid;&quot;&gt;N° Ticket&lt;/th&gt;&lt;th  style=&quot;border:1px solid;&quot;&gt;Test Quartz&lt;/th&gt;&lt;th  style=&quot;border:1px solid;&quot;&gt;Acquittement OCEAN&lt;/th&gt;&lt;th  style=&quot;border:1px solid;&quot;&gt;Acquittement RRCAP&lt;/th&gt; &lt;/tr&gt; </stringValue>
        </value>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NbNotSentGammeOP</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PlanningId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientAddressList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Site</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SiteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VersionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
